[2020-07-07 06:19] MartinKavik commented on #493
@Ben-PH Thanks! Could you fix it please? The code in that comment should be a part of https://github.com/seed-rs/seed/blob/master/examples/canvas/src/lib.rs

[2020-07-07 06:24] Ben-PH commented on #493
Can do.

[2020-07-07 08:17] #493 closed

[2020-07-07 15:58] #477 closed

[2020-07-09 10:59] mankinskin opened #495 "Quick way to style all elements of a html type?"
I have a question, that is, how would I go about styling all elements of a specific HTML kind (p, a, h1, ...) in seed?
For example, if I have a view function that renders a div with many paragraphs:
[code]
How would I go on and define a style for all p items in this div, or globally?
Something like the css selector:
[code]

[2020-07-09 12:49] MartinKavik commented on #495
It's supported through [Seed Style](https://seed-style-hooks.netlify.app/style_home). We are polishing it and waiting for the next Rust version so we can start to integrate it into Seed. There is an example (probably a bit older) - [global_styles.rs](https://github.com/rebo/seed-style-quickstart-basic/blob/3ea84d887bd209cefe8aabbf20ab4023a243a2c2/src/global_styles.rs#L6-L13).

I'm sure @rebo (the

[2020-07-09 13:32] mankinskin commented on #495
@MartinKavik Thanks for the response and the great resource. And this entire project in general, great effort!

Where would I have found this by myself? I don't think there is any part of the docs or on the [awesome list](https://github.com/seed-rs/awesome-seed-rs). It would be helpful to have some kind of registry for ongoing projects related to seed.

[2020-07-09 13:32] #495 closed

[2020-07-09 14:18] MartinKavik commented on #495
E.g. https://seed-rs.org/0.7.0/attributes => `style!` => `Future`

I'm writing new docs for more than a month now and many important things (like the rest of the 3rd example, ongoing projects, migration guides, nice seed-rs.org UI, etc.) are still missing, we'll improved it piece by piece 🙂 Thanks for the idea!

[2020-07-09 15:01] rebo commented on #495
Hi @mankinskin ,

Although fairly comprehensive, Seed Style is in alpha stage at the moment. The feature it relies on has just been stabalised into rust master and therefore will be in stable rust I believe in 1.46 (in 6 weeks or so). Therefore you would have to use nightly until then.

There are also a number of changes that have been made that may not be fully reflected in the quickstart. If you

[2020-07-09 15:08] mankinskin commented on #495
Sounds perfect! Styling is not high priority for my app at this stage, so I will probably focus on other stuff until the style api becomes more stable. Thanks for the preview :)

[2020-07-10 21:22] mankinskin opened #496 "routes should not push_route automatically"
Hello there,
I would like to use Hrefs in my App, for example in the navbar, to make the browser aware of the link, for example to show a tooltip/status message containing the route when hovering over the element (on the bottom left in chrome).

However I have noticed, that **using Hrefs causes the route to be pushed twice into the browser history**. I noticed that this only occurs if I use the ro

[2020-07-10 21:54] MartinKavik commented on #496
The entire [Builder](https://docs.rs/seed/0.7.0/seed/app/builder/struct.Builder.html) with `routes`, `before_mount`, `window_events`, etc. has been deprecated and it will be removed in Seed 0.8.0. Unfortunately it looks like we forgot to tag all related items as deprecated in the code, sorry about that.

However we've rewritten all guides and tutorials on [seed-rs.org](https://seed-rs.org/) - I re

[2020-07-11 13:43] mankinskin commented on #496
Oh okay thanks. So the subscribe/notify API is the recommended way of communicating between components? Cool :+1:

[2020-07-11 13:43] #496 closed

[2020-07-12 16:36] MartinKavik commented on #496
Yes, it's used for routing, communication among components and other things. The main goal for sub/notif was to reduce complexity and improve flexibility.

[2020-07-12 21:40] mankinskin commented on #496
It seems like a really good idea and is working for me so far :+1: I have struggled with the messaging before, because it required so much boilerplate, but I think this might solve it.

[2020-07-15 09:18] MartinKavik opened #497 "Seed shouldn't intercept links with `target` attribute"
See https://github.com/seed-rs/seed/blob/38f6c201206b9988abf60d9c399383e3734a6414/src/browser/service/routing.rs#L101

Should we ignore all links with set `target` or only with some `target` values (e.g. `_self`)?

---

Workaround:
[code]

[2020-07-17 13:21] FrankelJb opened #500 "How to handle websockets with sub-modules and mutliple update functions"
Hello

I'm porting an old Elm app of mine to Seed and there a lot of similarities so I may be going down the wrong path based on those patterns. Its a SPA that is utilising websockets to connect to an actix backend. I want each page to handle its own websocket connection and thereby requires its own update.

My app is setup like this:

1. the main Seed app in `bin.rs` with an `enum Page` to handle

[2020-07-17 15:07] MartinKavik commented on #500
Many items (e.g. `Node`) has method `map_msg`. Example: https://github.com/seed-rs/seed/blob/867c679c6729a5c7f545a42720865d55fb1b1883/examples/server_integration/client/src/lib.rs#L75

---

`orders` doesn't have `map_msg` but it has `.proxy()` because it doesn't really map messages, only creates "bridges" between root `Msg` and submodule `Msg`s. Example: https://github.com/seed-rs/seed/blob/867c67

[2020-07-18 10:50] FrankelJb commented on #500
@MartinKavik, thanks for such an awesome response. Totally agree about not leaking the parent type.

I realised after I posted this that I need to use `&mut model.page` (or `Page::Video(ref mut video_model)`) and it compiled.

I'm faced with a new error now. The websocket connection fails to open when its contained in the video module. It throws a runtime expection: `panicked at 'WebSocket handler

[2020-07-18 12:51] MartinKavik commented on #500
I hope we will be able to rewrite it to a compile-time error soon, where the Rust compiler provides more context. In the most cases users try to use different `Msg` type - e.g. the parent's one instead of the submodule's `Msg`. So please make sure you are using the correct type - if everything looks good but still doesn't work, please post a link to your project / a snippet to [Gist](https://gist.

[2020-07-18 12:58] MartinKavik opened #501 "Add tips to handler panic message"
`... can return only Msg, Option<Msg> or ()!` is the current panic message.

In the most cases users try to use incompatible `Msg` type (e.g. the parent's one instead of the submodule's one). We should advice them to check the `Msg` type and add a note that it will be changed to a compile-time error once it's possible in stable Rust.

Some related issues:
- https://github.com/seed-rs/seed/issues/5

[2020-07-18 14:43] MartinKavik opened #502 "Add orders.msg_sender()"
It'll reduce boilerplate required for sending messages from JS callbacks.

See https://github.com/seed-rs/seed/compare/master...MartinKavik:demo/websocket_binary
We should mirror core changes from that commit and add comments + perhaps also add notes to `orders.clone_app()` and `orders.msg_mapper()` that users should use rather `orders.msg_sender()`.

Implementation note: Use `app.update` or `app.

[2020-07-18 14:56] Ben-PH commented on #501
I went through this exact thing. Say the word and I'll do it. I'm assuming it's a relatively trivial change to docs?

[2020-07-18 15:08] MartinKavik commented on #501
Yeah, just small docs/comments changes. However they on relatively many places. I would be glad if you do it and it would be also better because I haven't encountered those problems by myself.

[2020-07-18 15:40] Ben-PH commented on #501
righto. In that case I'll do a grep for something like `//!.*?return only Msg, Option<Msg> or ()!`. If you can recommend a better grep, that would help.

[2020-07-18 17:06] MartinKavik commented on #501
I would just open VS Code, press `Ctrl+Shift+F` and write `Msg, Option<Msg>`.. it should be enough I hope.

[2020-07-19 04:54] Ben-PH opened #504 "[Examples] fetch example to be abstracted into a function, with return type providing `.json()` with type information."
In the `fetch()` example in documentation:

[code]

Similarly, you can find it in other example code:

[code]

To contrast with these two examples, the current `fetch` example in the code repo has the following lines in the `update()` function:

[code]

In the current `fetch` example, the use of the function signature as above is not demonstrated. It's of my view that the first two examples are mo

[2020-07-19 10:52] FrankelJb commented on #500
Thanks again! It was related to the msg mapping. Closing as answered.

[2020-07-19 10:52] #500 closed

[2020-07-20 22:14] MartinKavik opened #505 "The list of missing common Ev, At or Tag"
Lists:
- `Ev` list: https://github.com/seed-rs/seed/blob/master/src/dom_entity_names/events/event_names.rs
- `At` list: https://github.com/seed-rs/seed/blob/master/src/dom_entity_names/attributes/attribute_names.rs
- `Tag` list: https://github.com/seed-rs/seed/blob/master/src/dom_entity_names/tags/tag_names.rs
- `St` generated list: https://github.com/seed-rs/seed/blob/master/src/dom_entity_names/

[2020-07-20 22:23] Ben-PH opened #506 "[Enhancement] log! output to respect `\n` byte, (and other \ escapes)"
When logging a pretty debug, instead of multi-line, you get something more like this:

[code]

Ideally, it would be as you'd get from the console:
[code]

I'm no good with macros, so I wouldn't know where to start. I would happily work to assist directly, though. It would be nice to learn by working with someone on this.

[2020-07-20 22:35] MartinKavik commented on #506
I don't know how to replicate your problem, please elaborate a bit.

I tried:
[code]
and the result looks as expected:
![image](https://user-images.githubusercontent.com/18517402/87993125-0c8dd080-caea-11ea-8eb1-5cdffc635b8c.png)

[2020-07-21 21:23] Ben-PH commented on #506
Worked it out. I was using the `format!` macro out of habit.

Learning this, there's three options that come to mind: Leave it as is, change log! so that it removes the format! macro, or make a log_fmt! macro that does that.

I'd probably go for the first one, and add to the documentation that log! usage should be with comma separation rather than a format string.

If it's possible, maybe post `fo

[2020-07-22 12:07] MartinKavik commented on #506
I don't want to change/design better API for logging until ideally these two issues are resolved:
1. `Redirect println! (and dbg!) to console.log` - https://github.com/seed-rs/seed/issues/292
2. https://github.com/seed-rs/seed/blob/8d04fcde8a22f785fa20d28cb2f1a9b3b2d7e790/Cargo.toml#L37-L39

Another problem - do we want to use `console.log`? or `.info` or `.debug` or something else? Probably we sh

[2020-07-22 20:05] MartinKavik opened #507 "Form library / service - API design"
Seed chat channel `#app-atchitecture`:

[2020-07-22 21:12] Ben-PH commented on #506
I'm in agreement. Also, since coming across this, I've seen other little things crop up that makes it look like the specifications of how to display text are at odds between Rust and JS. Your rabbit-hole comment prompts me to think it might be something for a stand-alone project.

I'll close this issue, and re-open a new one for documentation, referring back to this.

[2020-07-22 21:12] #506 closed

[2020-07-22 21:24] Ben-PH opened #508 "[Documentation] Describe `log!` usage and link to it in `error!`"
See #506

Currently, the output of `log!` is not Just Right™ due to manner in which Rust and JS interact (to my understanding). Though things are in a good place and usable, Rusty habits and assumptions about how to format for console, and what the output will look like _exactly_, can mislead the unaware `log!` user.

Getting it "Just Right" is likely out of scope. Outlining this in documentation

[2020-07-24 22:06] rebo commented on #492
Despite what I said, I just couldn't help myself.

Svelte/SolidJS/ImbaJS/Valerie-rs style direct DOM patching without V-DOM works just fine in Seed.

**I'm sorry I promise I will stop now** and write some documentation for normal hooks and do a style integration plan :).

POC:

[code]
This sets the paragraph text and class directly to `name` whenever it is changed/updated. This completely bypasses

[2020-07-25 07:50] sabine commented on #433
Just two short points (overall, I'm happy with the Url API and routing facilities of Seed):

1. I would rename `UrlSearch` to `UrlQuery` because query is overall the more commonly-used term for that part of the URI. Users new to web development in general will get better search results when they search for a "url query" instead of a "url search".
2. I was surprised a little by the behavior of http

[2020-07-25 16:30] pickfire commented on #492
@rebo Interesting

Maybe we could try benchmarking the simple demo you did with dom and without (I don't know how)? I wish it makes stuff faster but it would be good if it can be used only for server and not on browser for SSR.

After your experimentation, do you think that is still true?

[2020-07-25 23:17] rebo commented on #492
I have mixed thoughts, vdom-less infrastructure seems to require accurate change detection, basically the system needs to understand when a specific value has been changed and then propagate that effect to directly modify the browser dom. It's not a trivial problem.

For specific values like strings or attribute classes (as in the example above) this is not too complex however it might not be the

[2020-08-08 13:07] MartinKavik commented on #433
@sabine

---

Ad 1. - It's named `UrlSearch` because it was inspired by https://reasonml.github.io/reason-react/docs/en/router.html and because it corresponds with Web API https://developer.mozilla.org/en-US/docs/Web/API/URL/search. However your arguments for `UrlQuery` are good and `query` is also used in https://docs.rs/url/2.1.1/url/struct.Url.html#method.query. I would like to hear more opinio

[2020-08-08 14:09] sabine commented on #433
There's nothing wrong with staying close to the browser specs. That makes it easier for experienced folks to move to Seed because things work as expected.

Only thing that tripped me was the term "go" which, due to lack of more details in docs, I interpreted as firing an `UrlChanged` sub. (But, as I said, it's good it doesn't do that. This leaves control in my hands, whether I want that to happen

[2020-08-08 14:17] sabine commented on #433
Btw, another way to manually handle <a> link clicks is currently to use preventDefault and preventPropagation on the link in question. Intercepting `subs::UrlRequested` seems more convenient, though.

[2020-08-08 15:04] MartinKavik commented on #433
Ok, I agree. I'll come back later to this issue (before Seed 0.8.0 release) and we can discuss better names (here or on the chat).

https://github.com/seed-rs/seed-rs.org/issues/71

[2020-08-10 02:31] Ben-PH opened #514 "[Enhancement] Improve debug output of `fetch::Response`"
#513
[Relevant discussion](https://github.com/seed-rs/seed/pull/513#discussion_r467563396)

The referred to PR was created in response to `fetch::Response` breaking my workflow when a `Message` had it in an assosciated type. For example:

[code]

with the error:
[code]

As noted in the linked discussion, the debug output of `Response` can get messy. Some possible solutions that come to mind:
 - De

[2020-08-10 16:53] sabine commented on #375
I'm fine with the semantics of `C!` as it is now, but I believe in discoverability. As a new developer coming to Seed, I shouldn't have to guess and look up what `C!` means.

When it's named `class!`, the likelihood of a newcomer having a great onboarding experience is increased, because HTML looks so similar.
Ideally someone familiar with either Elm, React, Angular should be able to read and unde

[2020-08-10 17:40] Type1J opened #515 "Path spaces should be supported"
Currently, when using `cargo make watch`, I get the following when using my second drive:

[code]

It seems that the `--makefile=...` option doesn't quote (it would have to be a nested quote because this is already in a quote for `-x`), so `Macintosh HD2` is interpreted as more than 1 argument.

[2020-08-10 18:51] MartinKavik commented on #515
It looks like an issue related to `cargo-make`, I summon its master - @sagiegurari 🙂

[2020-08-10 19:47] sagiegurari commented on #515
thanks will check it. hopefully tommorow

[2020-08-10 20:33] Type1J commented on #515
Thanks @MartinKavik !

[2020-08-11 16:48] rebo opened #516 "js benchmark performance"
## JS Framework Benchmark

The current de facto standard benchmark for measuring the performance of front end apps seems to be https://github.com/krausest/js-framework-benchmark.

This is a fairly straightforward benchmark covering a number of actions a front-end framework would typically perform.

The key advantage of this benchmark is the large number of current frameworks represented as well as

[2020-08-11 19:04] rebo commented on #516
Given the above I am looking for efficiencies that can be made that have the following characteristics

1) Can be applied generally to all apps.
2) Don't require massive structural changes to either Seed or the App's architecture.
3) Continued use of a declarative way of writing seed apps.

Some suggest that removal of the virtual dom is the way forward, certainly many frameworks have success in t

[2020-08-11 22:32] MartinKavik commented on #516
What takes the most of time during the render? `view` function logic? `Node<Msg>` allocations? Or VDOM diff? Or DOM patching? Or something else / mix?

I think Elm optimizations are heavily based on immutability and purity - it doesn't need to call a function if the arguments are the same and the output is cached. And there won't be memory problems with those cached items thanks to immutability -

[2020-08-11 22:45] MartinKavik commented on #516
Once you want to optimize benchmark `create many rows` (and probably also `create rows` or `append rows`) - look at my old investigation: https://github.com/initcrash/seed-quickstart/pull/1

[2020-08-12 02:20] rebo commented on #516
I think it is a bit  of a mix and I will measure to be precise however I think the order of costs are as follows in a reasonably large view (1000+ nodes) (biggest first).

1) View function logic (inc Node<Msg> allocations)
2) Dom patching
4) VDom diff

Although I need to measure this to be sure.

Interesting, it must be something to do with this. It would explain why some partial update tests are

[2020-08-12 12:44] MartinKavik commented on #516
Experiment inspired by Html.Lazy - https://gist.github.com/MartinKavik/678ad94e8a71dcea439c10a9f63387d9. All `view` function arguments are read as bytes and hashed. Function bodies are executed only when the arguments haven't been hashed yet or their hash changed. It would eliminate the need to call `orders.skip` and should theoretically improve performance. However I don't know how fast is hashin

[2020-08-14 14:59] MartinKavik opened #517 "`cargo make verify` ignores compilation errors"
@sagiegurari
I've found an issue probably related to the changes in this PR: `cargo make verify` passes even if there are examples with compilation errors. See task `Verify` in https://github.com/seed-rs/seed/pull/467/checks?check_run_id=985053859 - it shows errors but it doesn't kill verification.
My first tip is that `exec --fail-on-error cargo make --cwd ${example_root} ${task}` isn't working a

[2020-08-14 15:21] sagiegurari commented on #517
I'll check it out. thamks.

[2020-08-14 16:33] sagiegurari commented on #517
it was a bug in duckscript 'exec' command. its resolved now.
rerunning cargo install would get pull the fix (in this case, just rerunning the github action flow i guess).

[2020-08-14 19:20] MartinKavik commented on #517
<img width=200 src="https://user-images.githubusercontent.com/18517402/90285027-595b9180-de73-11ea-94d4-4f72fba68f5a.png">

- Job - https://github.com/seed-rs/seed/pull/467/checks?check_run_id=986227899

_Note:_ We have to run `cargo install cargo-make --force` on local machines until the new `cargo-make` version is released, then standard `cargo install cargo-make` will be enough.

@sagiegurari T

[2020-08-14 19:20] #517 closed

[2020-08-17 12:14] arn-the-long-beard commented on #516
Hi guys ! Thank you so much @rebo  for this issue. It helps a lot to understand the challenges we are facing and it does explain a lot about how web frameworks work :heartpulse:

Is the same as memoization ? Maybe we can do the same in `Seed`. I used memoization a lot in state-management.

Since I come from Angular, I can only say that Shadow DOM ( I thought it was Virtual Dom but no, damn it I am

[2020-08-17 19:46] MartinKavik commented on #516
I would assume that frameworks like Angular use Shadow DOM to isolate components - e.g. your `button` component lives in a Shadow DOM. You get scoped styles for free for the button and a browser is happier because it doesn't have to update the entire DOM if you've changed only a small thing inside the Shadow DOM boundaries (e.g. you've only changed the `button` label). (Please somebody correct me

[2020-08-18 08:21] arn-the-long-beard commented on #516
Thank you so much @MartinKavik for your explanations.

Yes it works this way :smiley: . That is why when your write a class in a angular component `.scss` or ` .css` has a generated name at runtime also.

I am lacking the full knowledge but I like also to make stuff faster. So I want to contribute helping in this side.

[2020-08-18 13:54] MartinKavik opened #518 "Implement orders.request_url"
`orders.request_url(url)` (where `url: Url`) would be an alternative to the function `request_url` in the example below:
[code]

[2020-08-18 18:12] MartinKavik opened #519 "GraphQL module"
Hi, I'm writing a tutorial for seed-rs.org and I'm just implementing a graphql module. It's quite app-specific and uses external library [cynic](https://crates.io/crates/cynic) but maybe it would be nice to rewrite it into a general Seed module in the future.

Also there is an older [graphl example](https://github.com/seed-rs/seed/tree/master/examples/graphql) based on [graphql_client](https://cra

[2020-08-20 18:57] sagiegurari commented on #515
this is now fixed in the new released cargo-make version 0.32.2

[2020-08-25 12:42] MartinKavik opened #520 "Server-Sent Events module"
Resources:
- https://www.smashingmagazine.com/2018/02/sse-websockets-data-flow-http2/
- https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events/Using_server-sent_events
- https://www.ably.io/concepts/server-sent-events
- https://kaazing.com/kaazing.io/doc/understanding-server-sent-events/

[2020-08-26 17:12] Type1J commented on #515
Sure. That machine stopped working after a thunderstorm, but it worked using the cargo-make from git, so I will close this issue, now.

I'm in the process of building a new Proxmox machine with a Linux dev VM, so it will be Linux instead of macOS that I'll be testing, but I'll be sure to come back here and reopen it, if it doesn't work as soon as I test it out.

[2020-08-26 17:12] #515 closed

[2020-08-28 18:37] MartinKavik commented on #449
No activity for months and it should be resolved, closing.

@rebo Please reopen when you find any related problems.

[2020-08-28 18:37] #449 closed

[2020-08-28 18:39] MartinKavik commented on #421
Already implemented, closing.

[2020-08-28 18:39] #421 closed

[2020-08-28 19:03] #502 closed

[2020-08-28 19:03] #518 closed

[2020-08-28 19:10] MartinKavik commented on #448
No activity for months and I assume the issue has been already resolved, closing.

@Ben-PH Please reopen if I'm wrong and something is still missing.

[2020-08-28 19:10] #448 closed

[2020-08-30 17:29] MartinKavik opened #525 "Final element macros API"
Previous work:
- Typed Tags - Api design https://github.com/seed-rs/seed/issues/374
- Typed Styles - API design https://github.com/seed-rs/seed/issues/332
- Typed Attributes - API design https://github.com/seed-rs/seed/issues/312
- Typed Events - API design https://github.com/seed-rs/seed/issues/331
- Seed Style https://seed-style-hooks.netlify.app/style_home

Let's design the final element API so

[2020-08-30 17:31] MartinKavik commented on #374
Closing in favor of https://github.com/seed-rs/seed/issues/525.

[2020-08-30 17:31] #374 closed

[2020-08-30 17:32] MartinKavik commented on #331
Closing in favor of https://github.com/seed-rs/seed/issues/525.

[2020-08-30 17:32] #331 closed

[2020-08-30 17:32] MartinKavik commented on #312
Closing in favor of https://github.com/seed-rs/seed/issues/525.

[2020-08-30 17:32] #312 closed

[2020-08-30 20:08] MartinKavik opened #526 "cargo make clean"
Clean all build artifacts from the Seed and examples by `cargo make clean`.
See `Makefile.toml` in the PR: https://github.com/seed-rs/seed/pull/523.

[2020-08-30 20:12] MartinKavik commented on #469
Related PR: https://github.com/seed-rs/seed/pull/523

[2020-08-31 07:45] TatriX commented on #525
After writing tones of markup using old and new macros my subjective conclusions is that I really dislike uppercase and shortened macros. So I strongly prefer `class![]` over `C![]` and `when!()` over `if cond { } else { }` over `IF!()`.

I would prefer module style syntax over javascripty version:
[code]
IIRC main reason to go for `C![]` over `class!` was that it's easy to confuse the later for w

[2020-08-31 07:50] flosse commented on #525
I agree :+1:

[2020-08-31 11:01] TatriX opened #527 "Unexpected page reload when clicking on a link with svg "use" element"
Here's a demo:
[code]
Add this for example to `/examples/counter/src/lib.rs`

[code]
and this to `/examples/counter/icons.svg`.
Clickling on the icon in the middle of the link will reload the page. Probably this happens because of `href` in <use>` tag.

[2020-08-31 12:07] #527 closed

[2020-08-31 15:00] TatriX commented on #525
Here's a quick and dirty demo of how I would like typed css to look like:
[code]
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=f5beb1dc254190844dc2879252d99f75

[2020-08-31 17:44] awulkan commented on #492
The place where Svelte and similar frameworks shine is on low powered devices. They have real world examples of people using Svelte purely because all other options were too slow for their use cases.

[2020-08-31 17:49] MartinKavik commented on #492
@awulkan Could you post links to some of those examples? I would like to know what apps they build and what hardware they use.

[2020-08-31 18:05] awulkan commented on #492
One example is https://www.stone.co for their handheld devices.

[2020-08-31 21:06] MartinKavik commented on #525
Another draft based on @TatriX's examples:
[code]

[2020-09-01 07:14] TatriX commented on #525
[code]
What is `w`, `my` and `mx `? I have a guess, but I would argue that we shouldn't invent alternative parlance for styles and stick with css way of doing things.

[code]
What is `group` and what semantic does it have? If it's for doing media queries, should we call them exactly that then:
[code]
Then I guess we can optionally build breakpoints as batteries included on top of that.

[2020-09-01 09:27] MartinKavik commented on #525
`css/CSS` API in my drafts is based on @rebo's https://seed-style-hooks.netlify.app/style_home.  Style's API is still changing according to feedbacks but it already works great. I would like to integrate it into Seed - it means that element macros designed in this issue significantly affects also Style.
So I would like to wait for @rebo's feedback and opinions to move forward.

Some Style referenc

[2020-09-02 10:00] techninja1008 opened #529 "Checking content-type on a Response"
I have a case where I need to check that the content-type of a response is `application/json` in order to ensure validity. My current method of doing this is to go via `raw_response()`, which remarks that I should create an issue to discuss my use case.

In my mind, the following additions to Response would cover my use case:

* `fn content_type(&self) -> fetch::Result<MIMEType>`
* `fn check_conte

[2020-09-02 15:32] MartinKavik commented on #529
`content_type` is a header so I would make it more general. The first idea:
- `fn headers(&self) -> &fetch::Headers`
- `fn check_headers(&self, impl FnOnce(&fetch::Headers, &mut [String])) -> fetch::Result<Self>`
  - It would return either `Ok<Self>` or `FetchError::HeaderErrors<Vec<String>>`.
  - Usage:
[code]
What do you think?

[2020-09-02 16:23] techninja1008 commented on #529
I like it! How do you propose the `content_type_header.value()` bit to work? (Specifically conversion from a generic `Header` type to a type specific for the header)

[2020-09-02 16:47] techninja1008 opened #530 "Orders is difficult to use in a trait object"
I'm trying to use `Orders` in a trait object, however such is proving difficult. This initially stems from the inability to use an `impl Trait` parameter for a trait object, however it ultimately comes down to the presence of the associated types on `Orders`.

To give more context, I'm trying to achieve the following trait:

[code]

This is so I can ultimately store a boxed page in my root model w

[2020-09-02 16:52] techninja1008 commented on #530
Just thought I'd also say that you guys have done such an awesome job on seed. I've been using it for one day, and I'm already preferring it to Elm. It feels more mature to me, despite being much newer.

[2020-09-02 17:06] MartinKavik commented on #529
It was just the first idea. I would need more time to think about it, but unfortunately it hasn't the highest priority now so I don't know when I will be able to design and implement it properly.
However if you want to move it further you can write an API design proposal and I can give you feedback.

[2020-09-02 17:29] MartinKavik commented on #530
`Orders` was designed specifically for TEA and we didn't want to introduce `Page` / `Component` trait because it would mean we would need to also introduce another layer of abstraction and patterns to support them. (Basically Elm-like philosophy that components are bad.)

However we know that TEA may cause a lot of boilerplate and it makes writing component libraries harder and non-business state

[2020-09-02 18:49] techninja1008 commented on #530
I thoroughly agree with this, as hidden state can often be a pain for various reasons. This is actually the reason why I'm less of a fan of Hooks/Atoms. The purpose for my trait is simply to act as a collection of the model (type the trait is `impl`ed by), view function, update function and message type for a specific page, in order to take advantage of rust's runtime dynamic typing to decrease co

[2020-09-02 19:47] techninja1008 commented on #529
Sure! After feedback, I'm also happy to implement and put in a PR if you want?

#### HeaderType enum

Fairly self-explanatory.

[code]

#### ResponseHeaders struct

[code]

#### ResponseHeader

[code]

#### FromHeader trait

[code]

The idea is that MIMEType (and other header value types) would implement FromHeader, check that they're being used on the correct header(s) (if not, return None), pars

[2020-09-03 07:19] OYangXiao commented on #525
The `w` `my` `wx` things makes me feel like something actually is CSS but with changed names, I mean, do we have to rename css properties... again? Especially when there are frameworks like tailwind and more?

[2020-09-03 07:35] TatriX commented on #525
My take on this would to use names exactly like in css, so I can copy styles from devtools replacing `-` with `_` and not have additional cognitive load on mapping names. Same applies for multiple argument values:
[code]
There is already a scheme people know so there should be a very good reason to make them learn another one.
@rebo could you please tell us what you think?

[2020-09-03 14:56] MartinKavik commented on #530
What do you think about https://github.com/seed-rs/seed/pull/531 ? (You can clone it and run from the root by `cargo make start page_trait`).

[2020-09-03 15:23] MartinKavik commented on #525
Style / `css` should replace libraries like Tailwind. Also these names are only alternatives - i.e. you can write `.w` or `.width`. There is a reason why libraries like Tailwind have been developed - CSS is hard and API/names are often a little bit weird or unpractical. You can ask why we have `div` and `p` instead of `divider` and `paragraph` in HTML - it's just more practical if you know them, h

[2020-09-03 20:22] nielsle commented on #525
Right now It is easier to search though the official CSS docs than it is to search through the Seed docs. So it would be great to be able to translate the CSS directly into Seed-CSS without having to learn extra abbreviations. This would lower the barrier of entry.

BTW: I wonder if rust-analyzer can expand function names within seed macros. Perhaps it isn't so bad to have to write long method nam

[2020-09-04 07:10] TatriX commented on #525
It's quite simple to understand and thus remember.
- one value = all
- two values = top-bottom/left-right
- four values (clockwise, starting north) = top, right, bottom, left
- three values (this one is a bit tricky) = top, left-right, bottom (Still it makes sense: you often want to have different margin before and after element, but equal sideways)

I don't buy Tailwind argument. Frameworks chang

[2020-09-04 13:01] frankli-dev opened #532 "img! macro not working"
Thanks to the great seed framework!

I think this is a simple issue but I can't find the reason why the img! macro not working
Here is my codebase

[code]

It shows an input but I can't see the logo. (https://a.com/a.png is just a temporary)
Also, if I check the dev tools, I can't find any img tag

Could anyone let me know what I mistake, please?
Thanks in advance.

[2020-09-05 07:30] asvln commented on #525
There is no denying CSS is terrible in so many ways, but it is what we are outputting. There is complexity, but most of it has been standardized for decades and over the course of that time, very little has been deprecated/changed.

There are very few abstractions used in CSS, and to take them away would confuse so many newcomers who already have experience using CSS, possibly years of experience

[2020-09-05 12:55] asvln commented on #413
I spent some brain-time building this [atomic SASS library](https://github.com/asvln/charm) and I think it might provide some different approaches to glance at as the element API becomes stable. In particular, it was the best way I could imagine implementing [flexbox](https://github.com/asvln/charm/blob/master/docs/api/flex.md) and worked really well in practice.

[2020-09-06 08:55] techninja1008 commented on #530
Thanks for making the example, I've actually ended up using a different method, as it's highly likely the consumer of the Page trait objects in our application will be moved to a separate crate (for visual consistency between different internal applications). As such, using an Enum at all isn't really practical.

What I've done is write a `struct` called `SimpleOrders<Msg>` that acts as a queue fo

[2020-09-06 10:02] #530 closed

[2020-09-06 11:06] MartinKavik commented on #532
I've fixed by clearing the cache and rebuild my wasm

- `@frankli` on Seed chat

Solution: https://github.com/seed-rs/seed-rs.org/issues/71#issuecomment-687136462

[2020-09-06 11:06] #532 closed

[2020-09-06 12:29] mankinskin opened #533 "Support ResizeObserver API"
https://developer.mozilla.org/en-US/docs/Web/API/ResizeObserver

[2020-09-06 12:32] mankinskin commented on #533
https://github.com/rustwasm/wasm-bindgen/issues/2289

[2020-09-06 16:22] #533 closed

[2020-09-07 11:27] TatriX commented on #529
If we gonna have multiple `check_xxx` methods, then perhaps
[code]

[2020-09-07 12:53] arn-the-long-beard commented on #525
Hello guys

I have my personal challenge with css and as @asvln states :

I do agree with my teammates.
There are few points I think we can resume here :

### - 1 Seed is easy & accessible  :100:

The huge advantage of **Seed** over **Angular+Ngrx** or **Vue**, or **React** is that we have minimal "Framework" vocabulary and way of doing stuff. **Seed** is really **easy**, sooo **accessible** and *

[2020-09-07 16:06] MartinKavik opened #535 "Try to remove #[wasm_bindgen(start)]"
See https://github.com/thedodd/trunk/issues/19

[2020-09-07 21:31] MartinKavik commented on #469
Service worker with notifications and caching demonstrated in the example https://github.com/seed-rs/seed/tree/master/examples/service_worker

[2020-09-07 21:31] #469 closed

[2020-09-08 10:42] arn-the-long-beard commented on #383
Hello guys.

I am working on the routing and I am on the way to start a PR.

Here are the ideas I have in my code for now and I will use some of the suggestion we have in the discussion :

- Having strong unit test
- Having a `Router` that centralize the navigation
- Having `Routes` that we can define with options
- Having the actual URL system inside the routing system under the hood

There are f

[2020-09-10 12:39] MartinKavik opened #537 "Routing + link building + Url API"
Routing + link building + Url API are ones of the hardest things to design well and they are blockers on the way to the stable Seed core api.
Many related PRs and issues have been already created so I want to unite our effort in this "tracking" issue.

### PRs:
- Working out on routing - https://github.com/seed-rs/seed/pull/536
- Url API changes - https://github.com/seed-rs/seed/pull/472

### Issu

[2020-09-11 15:51] MartinKavik commented on #535
UPDATE: It seems that `wasm-pack` doesn't support `fn main` yet and it's still not recommended to use `wasm-bindgen` directly because you would have to manage `wasm-bindgen` and `wasm-bindgen-cli` installations to match the exact `wasm-bindgen` versions in `Cargo.lock`.

[2020-09-11 17:24] #335 closed

[2020-09-11 23:08] #294 closed

[2020-09-11 23:10] MartinKavik commented on #294
See https://github.com/seed-rs/seed/blob/master/examples/tests/src/lib.rs#L87-L112

[2020-09-15 17:10] MartinKavik commented on #424
I've modified routing / `Url` behavior a bit (PR #542, #541) - urls are automatically decoded and encoded now, including hash. `Url` has methods ` decode_uri_component` and `encode_uri_component` that are slim wrappers around their JS counterparts. However you shouldn't need them in practice.

[2020-09-15 17:10] #424 closed

[2020-09-16 11:32] L0g4n opened #543 "Add documentation for macros"
Most of the macros exported by seed are undocumented, see: https://docs.rs/seed/0.7.0/seed/#macros
It would be good if at least the most commonly used are documented with an example.

[2020-09-16 11:57] L0g4n commented on #505
I think `data-target` attribute is missing.

[2020-09-16 12:03] MartinKavik commented on #505
I think `data-target` is a specific Bootstrap attribute that leverages [data-*](https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/data-*) attributes (please correct me if I'm wrong).
Perhaps we can add a helper like `At::data("xx", "yy")` that generates `data-xx="yy"` in the future, but I don't think we should add specific `data` variants.

[2020-09-16 12:12] MartinKavik opened #544 "Error handling"
This is a "tracking issue" for error handling to discuss and find a best way for error handling in Seed and Seed apps.

Interesting links:
- [Rust: Structuring and handling errors in 2020](https://nick.groenen.me/posts/rust-error-handling/)
- [anyhow](https://docs.rs/anyhow/1.0.32/anyhow/)
- [thiserror](https://docs.rs/thiserror/1.0.20/thiserror/)
- [failure](https://docs.rs/failure/0.1.8/failure/

[2020-09-16 12:28] L0g4n commented on #505
I do not know about that, but other CSS frameworks are also using this attribute, e.g. Bulma: https://bulma.io/documentation/components/navbar/#basic-navbar
But now I see that the docs are strange. In the first example they are using `data-target` for the hamburger menu, then later they just omit that attribute.

[2020-09-16 13:38] flosse commented on #544
you might add a note that `failure` is deprecated ;-)

[2020-09-16 13:46] MartinKavik commented on #544
Thanks! Updated and I've added some other libraries that was recommended as `failure` alternative.

[2020-09-17 17:07] asvln commented on #544
+1 for `thiserror` or standard Rust implementation as they amount to the same thing and do not require any external libraries when Seed is being used as a library.

Things like `failure` seems to stop development of a lot of projects because needing to re-write to remove it was an excessive amount of work. Even if `thiserror` becomes deprecated (or if Rust implements something similar directly int

[2020-09-17 17:18] lunaryone commented on #544
+1  for thiserror

anyhow designed to be used in applications(not libraries)
eyre is fork of anyhow
snafu is pretty similar to thiserror

As for me it just dilemma between snafu and thiserror.
Thiserror more popular (according to crates.io statistics)
And I'm absolutely agree with @asvln

[2020-09-17 17:48] flosse commented on #544
+1 for `thiserror` or `snafu`

[2020-09-17 21:59] asvln commented on #525
Are we at a consensus that the best course of action is to translate css directly into seed as it currently exists, leaving the option for tailwind/theming systems as separate crates?

It would make the API stable for-so as long as the CSS standards are.

I also am for the module based naming and lowercase macros as @TatriX has suggested:

Here is the cleanest interpretation I can fathom.
[code]

[2020-09-19 09:09] lunaryone commented on #544
Probably this link would be useful: https://github.com/rust-lang/project-error-handling

[2020-09-24 16:43] mankinskin opened #546 "Define traits for component methods"
There is an implicit concept of components in Seed, which could be made explicit:
[code]
These functions could be put into traits. The benefits of this are
- better error messages if the functions are implemented incorrectly
- generic programming targetting these methods
- idiomatic code

I have a crate which I use in my personal seed projects which implements traits like this:
https://github.com/

[2020-09-24 22:38] mankinskin commented on #488
Hi, I might have a similar problem as you are describing, but I am not really sure. My example is, I have a text input element and an expensive SVG. Whenever something is typed into the text input, it sends a message, which should update it's state and cause a rerender.
[code]
The problem is that this causes a redraw of `parent` which in turn draws both `svg` and `input`, even though the message i

[2020-09-25 16:13] MartinKavik commented on #488
@mankinskin
We plan to focus on performance once https://github.com/seed-rs/seed/issues/525 and https://github.com/seed-rs/seed/issues/537 are resolved and ideally [Seed Hooks](https://seed-style-hooks.netlify.app/hooks_home) are integrated into Seed.

Then, `view` functions would look like:
[code]

`#[view]` macro effectively turns `view` functions into components that can have their own local st

[2020-09-25 16:43] MartinKavik commented on #546
There (and in Elm community) were a LOT of flame-wars and a lot of different Page/Component API designs. We don't want to add it into the core, because:

- The main goal of TEA is to have a single source of truth. By creating components you basically break the rule.
- In ideal world, you have one `view`, one `update`, one `Model`. TEA components with `msg_map`s is a necessary evil to split the cod

[2020-09-25 17:16] mankinskin commented on #546
This feels like an extension of the Object-oriented vs Data-oriented programming discussion. And interestingly, I have always been on the more "data-oriented" side of the discussion, but now here I am, advocating for components, which are essentially objects.

I am not experienced enough with front-end development yet, so I will not try to convince you of anything here. But I will continue on this

[2020-09-25 21:26] mankinskin commented on #537
Hi, I just released the [enum_paths](https://github.com/mankinskin/enum_paths) crate, which might make defining routes easier. Maybe we can use it? Basically it derives methods for nested enums to convert them from and to / separated strings.

[2020-09-30 20:30] mankinskin commented on #537
This is a router that I implemented using subscriptions to the current `subs::UrlChanged` messages and enum_paths:
https://github.com/mankinskin/binance-bot/blob/master/src/client/router/mod.rs

I am not sure if there is anything missing, but all of these work:
- clicking links
- changing the url in the browser search bar
- opening site with specific url
- navigating history

Also there is no gene

[2020-09-30 20:31] mankinskin commented on #537
Another point might be refactoring the `Url` type, to make it more compatible with url paths in `String` shape and make it contain the full browser url including protocol, host, and all kinds of queries, paths, etc.

[2020-10-01 14:50] #546 closed

[2020-10-01 15:10] mankinskin commented on #544
On a top-level, I can think of a few different kinds of errors:
- errors that should be notified to the user i.e. should be reflected by the UI
- errors that should be recovered from internally i.e. should not notify the user, but possibly the server

I think to handle any of these errors I think we should think about `Result`s and how they are handled in a seed app.

Currently, I always just log

[2020-10-11 19:46] runfalk opened #547 "Interface with external JS library"
Hi!

I'm interested in using Seed but I also need [Mapbox GL](https://docs.mapbox.com/mapbox-gl-js/api/)). I tried to look for that in the documentation, but there doesn't seem to be any mention on how to interface Seed with JS libraries (if it's even possible?).

What's the best way of doing this?

[2020-10-12 12:10] MartinKavik commented on #547
Hi @runfalk,

Rust <-> Js communication is possible (for instance, all Rust frameworks have to talk with the Js world to call browser APIs). There is also a WIP tutorial that uses Auth0's Js library to provide authentication - see e.g. https://seed-rs.org/0.7.0/time_tracker_authentication.

However for your case I would recommend to wrap `Mapbox` to a custom element. This way, the `Mapbox` Js libr

[2020-10-12 12:50] flosse commented on #547
@runfalk https://github.com/kartevonmorgen/leaflet-rs might be interesting for you.

[2020-10-15 18:38] seanybaggins commented on #547
Kinda a similar question...

Is using bootstrap by just modifying the class attributes within the html macros okay?

Does bootstrap interact with the DOM in a way that could not play nice with Seed?

[2020-10-15 18:52] MartinKavik commented on #547
@seanybaggins Bootstrap uses jQuery.. so it modifies DOM a lot (if nothing changed recently). There are some efforts to create a "native Bootstrap" (i.e. Bootstrap with JS without jQuery) or even a combination of Bootstrap with lit-element (it should work with Seed) - see e.g. https://medium.com/lightbaseio/bootstrap-4-lit-element-37c857a6bcca. But generally there is a reason why React, Vuejs and

[2020-10-16 15:24] MartinKavik commented on #525
Hi guys!

I was rewriting one Seed app from [Less](http://lesscss.org/) to [Seed Styles](https://seed-style-hooks.netlify.app/style_home). Seed Styles API is still a bit rough, but usable enough.
So I've created a new repo - [github.com/seed-rs/styles_hooks](https://github.com/seed-rs/styles_hooks) - where we can focus on Styles and improve it. It should be a good starting point for the API design

[2020-10-19 07:07] TatriX commented on #525
Where can I look at the full code examples?

[2020-10-20 16:39] seanybaggins commented on #547
@MartinKavik Could this work within an electron application? I am guessing you would not get access to the file system because the framework is only designed to target wasm.

[2020-10-20 16:40] teohhanhui opened #549 "It should be easy to create a new project from scratch without scaffolding"
Without using any kind of template or "quickstart". And without using tools like "cargo-make" which is Yet Another Task Runner.

[2020-10-20 16:48] flosse commented on #549
IMHO it is easy ;-)
And I never used a "quickstart" template or `cargo-make` (I can't see the benefits).

[2020-10-20 16:52] teohhanhui commented on #549
Sorry, I didn't mean to imply that it's not easy (that's subjective anyway...).

But it needs to be seen to be easy. The documentation should provide such a choice. :smile:

[2020-10-20 17:09] MartinKavik commented on #547
I haven't tried to integrate Seed into an Electron app, but I was able to write an Electron app with Elm and Typescript several years ago. So if I'm not wrong, the architecture is similar to a standard browser app - Seed/Elm is a "view + business logic" layer and Electron/Browser exposes some methods that allow "view" layer to do safe IO operations.
(Similar architecture allows to write also serve

[2020-10-20 17:15] MartinKavik commented on #549
@teohhanhui See https://github.com/thedodd/trunk and https://github.com/MartinKavik/seeder. A combination of these tools should replace `cargo-make` scripts in the future and provide commands for easy project scaffolding.

[2020-10-20 17:21] teohhanhui commented on #549
`trunk` seems to be Yet Another Asset Bundler. Tying the framework to the asset bundler seems like a very bad idea to me. Frontend devs would want to use existing asset bundlers, be it Webpack, Gulp, or something else. Why reinvent the wheel?

There should be a clear separation.

[2020-10-20 17:27] seanybaggins commented on #547
@MartinKavik. Thanks for the reply. Tauri looks pretty cool. Definitely something I will keep my eye on.

[2020-10-20 17:30] MartinKavik commented on #549
`trunk` won't be the only option, only the recommended one. You will be able to still use use whatever you want to build Seed projects.

`trunk` will be the first bundler specialized for Rust projects. An alternative is now basically only `wasm-pack`, but it has a bit different goals. There are some plugins for Webpack, Parcel, etc but they are often buggy - we want to have a fast and reliable too

[2020-10-20 19:07] runfalk commented on #547
Thanks for the great pointers @MartinKavik and @flosse. I feel those answer my question pretty well.

If I, or someone else, do something with this, would you be interested in a PR for the official documentation?

[2020-10-21 10:11] MartinKavik commented on #547
Yes, PRs with examples or docs are very welcome.

[2020-10-22 12:05] arn-the-long-beard commented on #549
Could we have a cli to create project and pages/component  ?

example :  ` seed grow my_page`

[code]
Could be very handy. I am copying / pasting these so many times. We could even play to generate it out from `Routes` with the custom Router so we have all the base and we can stay `lazy` and `focused` .

Does this proposition match your objective @teohhanhui  ?

[2020-10-23 00:30] decafbad commented on #303
at https://seed-rs.org/0.7.0/use/ I removed #![allow(clippy::wildcard_imports)] but no clippy errors.

[2020-10-23 09:54] MartinKavik commented on #303
@decafbad Try to change something in the Rust code, save it and then run `cargo make clippy`. There is a bug in `clippy` - it sometimes doesn't lint the code at all if it's already compiled.

[2020-10-23 10:13] MartinKavik commented on #549
@arn-the-long-beard When you decide to implement something like this in the future, don't hesitate to use my `seeder` repo for it. Once usable, we can move the repo to GitHub `Seed-rs` org.

[2020-10-23 10:22] #549 closed

[2020-10-23 14:14] decafbad commented on #303
It works fine now, after I ran a **second** `cargo clean`. Couldn't get what's wrong.

[2020-10-23 14:58] MartinKavik opened #551 "Seed 0.8.0"
I want to release Seed 0.8.0, because:
- There are many improvements in the changelog and the latest Seed version is quite old.
- I think it will be the most stable and feature-complete version so far.
- Seed will be ready for next breaking changes / improvements. Possible options are:
  - [Better routing/url](https://github.com/seed-rs/seed/pull/536)
  - [Better and final element macros API](http

[2020-10-23 15:06] David-OConnor commented on #551
Done

[2020-10-23 17:34] MartinKavik commented on #551
Thanks @David-OConnor!

Announcement: https://seed.discourse.group/t/seed-0-8-0-released/104 (+ the same on chat)

[2020-10-27 07:55] Narfinger opened #552 "Error in Documentation of fetch with post"
The documentation example is wrong as json returns a Result.
https://github.com/seed-rs/seed/blob/480141ce9e520c07e60ddae58244edb40c9f55e9/src/browser/fetch.rs#L64

[2020-10-27 17:13] MartinKavik commented on #552
Perhaps we should split it and add `unwrap`:
[code]
Feel free to create a PR with changes, thank you!

[2020-10-28 10:27] #552 closed

[2020-10-29 08:52] matsbror opened #554 "Cannot run examples with v0.8.0"
I tried to run examples and the quickstart but gets build errors, all of the kind:

`error[E0658]: `match` is not allowed in a `const fn`

$ rustc -V
rustc 1.45.0 (5c1f21c3b 2020-07-13)
$ cargo make -V
cargo-make 0.32.7

EDIT: Removing the `const` in the functions concerned resolves the issue. There seems to be work going on allowing `const` for function containing matches, but as far as I can see

[2020-10-29 09:19] MartinKavik commented on #554
hi @matsbror,
thanks for the issue/question.

It looks like you have old Rust version, the newer one has been recently released (https://blog.rust-lang.org/2020/10/08/Rust-1.47.html).
Please run `rustup update`, try again and eventually close the issue. I can't reproduce it and it wouldn't pass through CI tests with compilation errors.

[2020-10-29 09:28] matsbror commented on #554
Great , that was indeed the issue.

[2020-10-29 09:28] #554 closed

[2020-11-03 08:19] nielsle commented on #525
Would it be possible to solve this in three steps?

- Introduce simple enums for inline styles
- Introduce an AST to represents a style sheet (Reusing the enums above )
- Introduce a Less-like builder class that can export an AST?

[2020-11-05 11:59] mankinskin commented on #544
What I noticed is that there are currently issues with Error handling when using messages. Messages usually have to implement `Clone` to use them with subscribe/notify, but Errors usually do not implement clone. Maybe a good start for error handling would be a special `Error` trait that can be propagated through `Orders`: `orders.error(err);`

Basically each component could implement a separate ty

[2020-11-08 16:37] MartinKavik commented on #525
@nielsle Could you write a simple example?
_Note_: I think SCSS is more popular than LESS and there are Rust SCSS/SASS compilers - so we should draw inspiration from SCSS rather than LESS.

[2020-11-08 20:09] nielsle commented on #525
Hmm.. perhaps I should have formulated my message differently, but it could be interesting to see how much can be implemented with slices of enum variants. As far as I can see something like following could work.

[code]
This approach works well in simple situations, because inheritance is just joining vectors, and I like that the CSS end up looking similar to HTML macros, but I must admit that I

[2020-11-09 23:21] WesleyAC opened #556 "allow perform_cmd to send multiple messages"
It would be great if `perform_cmd` had the option of sending multiple messages, as well as just one message. Sometimes I want to use `perform_cmd` to grab some data from the server, and then trigger multiple messages at once based on that data. Right now, I have to make a new message for each combination of messages, which is just sort of annoying and clunky.

I don't know what the best way of doi

[2020-11-09 23:40] mankinskin commented on #556
Maybe an idea would be providing a function like this:
[code]
Here you have to provide a closure taking a `MessageSink<Msg>` and maybe returning a `Result` of some kind? That way you could also handle errors.

If that was possible you could send as many messages as you like very easily.

But futures can be very tricky, so I don't know how easy this would be to implement.

[2020-11-10 00:27] mankinskin commented on #537
For anyone interested, my components crate just gained a [generic `Router` component](https://github.com/mankinskin/components/blob/master/src/router.rs). It listens to `UrlChanged` and will switch the page by parsing the url path to a `Route` and initializing the page with it. It is pretty simple, but should do the job. It does require the components crate though.

[2020-11-10 01:02] WesleyAC commented on #556
@mankinskin that's a interesting idea! are you thinking that `sink.send()` is a future that will resolve after the `update` function is called with the given message? If so, that seems pretty useful in general, as a way of controlling the ordering of execution.

For example, here's something that's hard to express right now (or at least, I can't figure out how to express it nicely):

I have a serv

[2020-11-10 01:30] mankinskin commented on #556
For your use case I think it would be best to just store the uuid in the model and use it to open a note when you receive `NotesFetched`.

And I think you can actually already send multiple messages with a
[msg_sender](https://docs.rs/seed/0.8.0/seed/app/orders/trait.Orders.html#method.msg_sender), but I don't think you can wait for the update function to have completed..

[code]

To control execu

[2020-11-10 13:07] MartinKavik commented on #556
@WesleyAC I'm glad you like it!

I don't see any real reasons to not allow it, however there is a problem:
Stable Rust doesn't allow us to return different types from a function without "hacks" and with a compile-time validation. That's why this [monster](https://github.com/seed-rs/seed/blob/768b4dd62e428b53b8c791269c2f7a8654986db0/src/lib.rs#L61-L90) has been created.
So I would wait until we can

[2020-11-15 23:18] 8176135 opened #558 "Update selected <option> in <select> element in view"
How can I update which <option> is selected in a <select> element in view according to the value in the model? Just adding the `selected` attribute to the one that I want to select doesn't work once the user changes the value.

Through javascript I would do something like `document.getElementById("select").selectedIndex = 0;`, but I'm not sure how I can do that through seed inside the view() funct

[2020-11-20 22:08] MartinKavik commented on #558
Notes:
- Seed Hooks doesn't require nightly since Rust 1.46. I've created an updated [repo](https://github.com/seed-rs/styles_hooks) with hooks, if you want to try it.
- it's generally painful to work with `select` (it's hard to style, browsers handle some events differently, etc.)

Back to the question.
Seed has a mechanism for direct (imperative) element access - `el_ref` + `ElRef`. See, for ins

[2020-11-21 23:37] #558 closed

[2020-12-04 10:18] techninja1008 commented on #544
I'd like to also +1 the implementation of `std::error::Error` on all of seed's error types. This seems to be the idiomatic pattern for error handling within libraries, and can be done easily using one of the listed crates that provide a derive for it.

In my personal opinion, it'd be nice to do this sooner rather than later (I'm happy to submit a PR with a `thiserror` implementation) as it's not s

[2020-12-04 12:27] MartinKavik commented on #544
@techninja1008

I would be happy to merge it 🙂

[2020-12-05 12:26] MartinKavik commented on #525
I found another possible solution in Tailwind - they use groups, see:
- https://tailwindcss.com/docs/hover-focus-and-other-states#group-hover
- https://tailwindcss.com/docs/hover-focus-and-other-states#group-focus

Probably there is a way to elegantly integrate this concept to Styles.

Related:
- https://tailwindcss.com/docs/hover-focus-and-other-states#focus-within
- https://tailwindcss.com/docs/

[2020-12-09 14:20] mikezupper commented on #232
@MartinKavik - An e-commerce catalog is the perfect use case... SEO is critical. You would SSR the pages for SEO/perf reasons (static generation or actix-web, rocket, etc). Once that content gets consumed via browser user, the seed wasm module should preload the state based on the already loaded in DOM. Or Maybe something on the server can embed “state init” info that can be easily loaded into was

[2020-12-09 15:34] MartinKavik commented on #232
@mikezupper
- Personally I try to write apps the way where the client app is "smart" and the backend is "dumb". You can notice it on seed-rs.org - Time Tracker example communicates with a graph database directly through GraphQL - there is no custom server at all.
- From the maintainer's point of view, I assume SSR would introduce a lot of new code and changes. It means more bugs and maybe bigger f

[2020-12-10 17:03] Ben-PH commented on #277
Does #478 close this issue?

[2020-12-15 03:27] Notmeor opened #565 "unhandled error with browser autofill"
I built an admin spa with seed, and everything worked out great!

only that every time i log in,  an error would pop up in browser console saying

[code]

it only happens when using password autofill, and except for the error msg, all functionalities seem intact.

[2020-12-16 14:06] MartinKavik commented on #565
Glad to hear that!

---

Could you provide more details so I can fix it in a reasonable time, please? Ideally:
- Your operating system
- Browser
- Do you use a plugin for autofil? (E.g. 1Password)
- Could you write a minimal example with steps to reproduce the issue?
- etc.

Thank you!

[2020-12-19 18:19] Notmeor commented on #565
Sry for the late reponse.

- os: MacOS Catalina, Version 10.15
- browser: chrome/safari
- plugin for autofill: no
- how to reproduce: create a login form with user/password input, fill it a few times so that the browser would suggest an autofill

Here's the example
[code]

[2020-12-20 20:16] MartinKavik commented on #565
Thanks! I can reproduce it with your example (on Windows 10, Chrome).
And I hate browser APIs and Javascript even more. And I need a bit help to decide how to fix it.
Let me explain:

The browser auto-fills the input and then fires the event with `type` set to `keydown`. However it's not a standard `KeyboardEvent` - the `key_code` field and probably multiple others are set to `undefined`. As the r

[2020-12-23 14:48] MartinKavik commented on #565
I've done another research round.

## Demonstration & explanation

Try https://jsfiddle.net/0mhwj6v5/1/ with opened console in dev tools on your browsers. You should see something like

![image](https://user-images.githubusercontent.com/18517402/103001582-9b859580-452d-11eb-82ee-f3c7ab90750c.png)

or

![image](https://user-images.githubusercontent.com/18517402/103001654-b526dd00-452d-11eb-8d12-b99

[2020-12-28 02:16] svenstaro commented on #551
Can't this be closed?

[2020-12-28 09:40] #551 closed

[2020-12-28 14:34] arn-the-long-beard commented on #537
Hello guys,

Well `seed_routing` is under active development and already has several features.
Any help is welcomed :wink:

Here are 2 issues I have just created : https://github.com/arn-the-long-beard/seed-routing/issues.

There are several steps we need to complete before publishing it as a crate or integrating into **Seed**
- Good naming for Apis.
- Enough integration/unit test.
- Enough featur

[2021-01-08 13:55] arn-the-long-beard commented on #543
Hello, I was looking into the macros today.

It seems many of them are generated from there, is it right ?

[code]
So I am not sure if we can document them this way.

Also there is the comment

[code]

So maybe should we do try what the comment says and then see if we can document it? Maybe we could close this issue if it is not relevant anymore.

What do you think about it @MartinKavik  and @L0g4

[2021-01-08 14:19] arn-the-long-beard commented on #488
Hey @rebo  and @MartinKavik

What is the status of `seed_hooks` ?

I see we have https://github.com/seed-rs/styles_hooks updated recently, so I guess this is our official repos for it now, isn't it ? :smile:

[2021-01-09 13:58] MartinKavik commented on #488
Yeah, I've created it when `rebo` was too busy to work on it by himself, to unify our effort to one repo and to simplify development.
I use it in an app for my client, so I want and have to maintain it.

[2021-01-09 14:04] MartinKavik commented on #543
I can imagine we can add a doc comment like `Autogenerated element macro` for generated macros with a link to more info or to associated MDN page if possible or something like that.

[2021-01-09 14:20] arn-the-long-beard commented on #488
Okay, then let's use this one :+1:

[2021-01-13 15:12] tommket commented on #505
I just checked to see if I could help somehow and this issue was tagged as a "good first issue".
I looked into https://github.com/seed-rs/seed/blob/f0a1550d52cdbc9bf660e5ab7cee999c04386ab1/src/dom_entity_names/events/event_names.rs#L48 and the Invalid event is already there.

And what about the ```At::Role``` ? Should I add all the ARIA roles https://developer.mozilla.org/en-US/docs/Web/Accessibil

[2021-01-13 19:02] MartinKavik commented on #505
hi @tommket!

There is a bit older, but still very relevant issue about the new API design. See this comment in the issue to have an idea: https://github.com/seed-rs/seed/issues/525#issuecomment-684040068. Notice especially `attr::xx` calls.

The idea is:
1. The list of all attributes would be downloaded from a public source (MDN or W3C database or something similar; probably including ARIA roles

[2021-01-22 00:06] flosse commented on #516
FYI:
I just updated the js-framework-benchmark example to seed v0.8.0: https://github.com/krausest/js-framework-benchmark/pull/854

[2021-02-01 10:40] flosse commented on #385
I just compared the filesize of the counter example:

- seed `v0.8.0`: `383K`
- yew `v0.17.4`: `71K`

That's a huge difference. Does s.o. know what's the main reason for this?

Both were optimized with:

[code]

[2021-02-01 13:04] MartinKavik commented on #385
The related issue comment: https://github.com/krausest/js-framework-benchmark/pull/854#issuecomment-770836519

[2021-02-02 10:38] flosse commented on #385
thx!

[2021-02-14 18:22] mankinskin opened #574 "How to style document element (<html>)?"
How would I about to change for example the `background-color` of the root element from seed?

[2021-02-15 07:26] mankinskin commented on #574
So you can do it using web_sys directly
[code]
but it is very verbose, error prone and hard to reuse.

Is there some way to just mount the seed app as the document? It would be nice if we could apply all of the code for seed nodes to the entire document node.

[2021-02-15 09:17] mankinskin commented on #574
An improved version:
[code]

[2021-02-15 11:12] akhilman commented on #385
I did [twiggy dominators ](https://rustwasm.github.io/twiggy/usage/command-line-interface/dominators.html)against counter example compiled in debug mode. [Here is result](https://github.com/seed-rs/seed/files/5981170/dominators.txt).
Seems like serde uses a lot of binary size. We could replace serde json by browsers's json serialization.

[2021-02-16 10:41] arn-the-long-beard commented on #543
I saw this today. It is old but maybe useful https://stackoverflow.com/questions/33999341/generating-documentation-in-macros

[2021-02-16 11:08] arn-the-long-beard commented on #537
Hello guys,

We are still working on the `seed_routing` and making improvements and polishing it.

Hey @mankinskin , would you like to take a look at it ? :smile:

[2021-02-16 11:14] arn-the-long-beard commented on #497
Hey, why should we ignore it ?

Here is the quote from the doc :

[2021-02-16 11:18] arn-the-long-beard commented on #490
Hey. I use brave daily  to test my apps and I never got the issue on Seed.

Interesting :stuck_out_tongue:

Brave behavior from my user experience has always been same as Chrome (except for cookies and trackers and performance and good UI ) .

Did you make more tests @eisenhaus335  ?

Do you think we could close the issue ?

[2021-02-16 12:31] arn-the-long-beard commented on #526
Well,

I am almost there :wink: .

[code]

The script breaks for project that are build with `/client` and `/server` folders like https://github.com/seed-rs/seed/tree/master/examples/e2e_encryption

I guess I need to have a new code that differ from this

[code]

Does somebody know how I could detect the folder `/client` and change the target of it ? Or maybe there is a better solution like having

[2021-02-16 12:52] eisenhaus335 commented on #490
This was long issue tho. Maybe brave somehow fix this issue with their magic update and cookies and such?
I was using brave version at that time I make this issue. I will be take closer look later. And thank you to revisit this issue. This was like long time ago and I get chuckles someone revisit this

[2021-02-16 13:57] mankinskin commented on #574
This is the `index.html` that is served:
[code]

[2021-02-16 13:58] arn-the-long-beard commented on #490
Hey, no prob bro

I do not understand what does it mean :stuck_out_tongue_closed_eyes:

[2021-02-16 14:20] mankinskin commented on #490
I think this is because your browser is reusing it's files from cache, you can disable it. In firefox you can open developer tools > menu > settings > advanced settings > disable HTTP cache (when toolbox is open).
This will disable caching when developer toolbox is open.

[2021-02-16 14:26] mankinskin commented on #526
The way I handle this is that I have a Makefile in each `server` and `client`, and also one above each of those, calling both of their make commands: [see here](https://github.com/mankinskin/web-app/tree/main/morse-ui)
[code]

[2021-02-16 14:53] mankinskin commented on #537
Hi @arn-the-long-beard !

Wow, looks like you've come a long way since I last looked into that. Personally, I would keep polishing this and provide it as a decent utility crate, and maybe look to integrate it into seed natively in the future.

The seed_routing crate adds a lot of features to remove boilerplate, and usually this comes at the cost of taking away some flexibility as you are fixing so

[2021-02-16 17:41] MartinKavik commented on #574
I use the code like this:
[code]
to setup global/root styles (with Seed Style help).

So yes, I would be glad if there would be a way to apply styles / nodes even to the HTML root. However we can't mount the app as a root document and we don't want to mount it directly to `body` because of conflicts with browser plugins and other things. That's why I'm not sure if there is a clear solution for the

[2021-02-16 18:04] mankinskin commented on #574
This seems fine if this can be applied to any element in the DOM, by some `GetElement` type. So we could do something like
`set_style(window().document()?, GlobalStyle::new()...)`. Or maybe even have trait methods implemented for `GetElement` types to do: `<window().document()? as Stylized>::set_style(GlobalStyle::new()...)`, with a `Stylized` trait.

[2021-02-16 18:07] mankinskin commented on #497
But why can't it open a new tab?

[2021-02-16 18:16] MartinKavik commented on #574
@mankinskin Feel free to design the API for it in https://github.com/seed-rs/seed/issues/525 or create an issue / PR in https://github.com/seed-rs/styles_hooks

[2021-02-16 18:18] mankinskin commented on #574
Sure, I will look into it :+1:

[2021-02-16 19:01] MartinKavik commented on #385
@akhilman If you think you can remove Serde or other dependencies, I will be very glad for a PR. If not possible, then feature flag would be also nice.

[2021-02-16 19:08] MartinKavik commented on #497
Seed intercepts all relative links by default to prevent the app reloading. The intercepted link click doesn't propagate to the browser's handler so it doesn't process the link at all in such cases.
Taking things like `target="_blank"` into account is basically a missing Seed feature.

[2021-02-16 19:35] mankinskin commented on #497
Ah, okay. Now I understand. I wonder what should happen with the other `target` values. Does seed have a concept for these `browsing contexts`? None that I am aware of. A simple solution to this problem might be to just stop intercepting any relative link calls with `target=_blank` but the other `target` values would still not be handled.

But maybe that is just fine? I am not sure what a `browsin

[2021-02-16 21:03] MartinKavik commented on #497
I would just handle the most common cases - it means `Ctrl key + click` and `target="_blank"`. We can add special handling for other cases when somebody needs it - I would try to respect YAGNI.

[2021-02-16 21:09] mankinskin commented on #497
Makes sense. I guess anything the other targets do can be emulated using other features.

[2021-02-17 02:21] akhilman commented on #385
I've got deeper look and seems we can not just drop serde_json:
* serde_json used internally by Seed to handle browser history https://github.com/seed-rs/seed/issues/385#issuecomment-780051356;
* JsValue::into_serde and JsValue::from_serde also uses serde_json https://docs.rs/wasm-bindgen/0.2.68/src/wasm_bindgen/lib.rs.html#225-234.

Positive part:
* At least we know why counter so large;
* More o

[2021-02-17 10:01] arn-the-long-beard commented on #537
Thank you for your message :+1:

It was written as requirement in one of the issue https://github.com/seed-rs/seed/issues/383 maybe I misunderstand it . But yeah put it this way, it looks very useless that I built it. I forgot we could have access to it this way https://developer.mozilla.org/en-US/docs/Web/API/Window/history actually.

On the other hand, I have never used the one directly from the

[2021-02-17 10:25] MartinKavik commented on #385
The large file size caused by Serde seems to be a known fact  - https://github.com/serde-rs/serde/issues/286

If we can't remove Serde, can we replace it? I've found some potential options:
- https://crates.io/crates/serde-lite
- https://crates.io/crates/miniserde

[2021-02-17 11:20] arn-the-long-beard commented on #490
Hey, no prob bro

I do not understand what do you mean there :smile:

[2021-02-17 13:22] mankinskin commented on #537
Ah okay, that clears it up, I kept wondering if I was missing something. I have never used Angular, only React a very little bit, so this seemed strange to me. But an abstraction of the browser history is actually really useful I guess, so you don't have to use low-level web_sys all the time. But I think it should really just be a shell to the browser history and not have any state itself, if it i

[2021-02-17 13:26] arn-the-long-beard commented on #537
Yes it makes sens. Probably what I was using in angular was calling the browser Api actually. I am almost sure now.

[2021-02-17 15:10] #490 closed

[2021-02-25 12:27] TatriX opened #577 "Feature request: add .blob() to fetch"
It would be nice to have [.blob()](https://developer.mozilla.org/en-US/docs/Web/API/Body/blob) method returning [Blob](https://developer.mozilla.org/en-US/docs/Web/API/Blob).

[2021-02-25 12:59] MartinKavik commented on #577
Feel free to create a PR :)

[2021-02-27 12:05] #577 closed

[2021-03-09 07:00] aklajnert commented on #294
Hi @MartinKavik, [this page](https://seed-rs.org/0.8.0/todomvc_refactor) from the tutorial links to this issue. Since it's closed, shouldn't the link be removed/updated?

[2021-03-09 11:38] MartinKavik commented on #294
Hi @aklajnert and thanks for the feedback!
You are right, feel free to update the text how you think it would make sense. Perhaps the link above with a test would be useful.
I will be glad. Thank you.

[2021-03-11 18:53] glennsl opened #584 "Would it be possible to accept event handlers that do not implement `Clone`?"
One use case for this is having a component with an unknown number of "actions", effectively a `Vec<Box<dyn FnOnce() -> Msg>>` or alternatively just `Vec<Msg>`.

Unfortunately, since `ev` requires the event handler implements `Clone`, the vec of closures is not possible because trait objects can not include non-auto-traits like `Clone`, i.e. `Vec<Box<dyn FnOnce() -> Msg + Clone>>` is not accepted

[2021-03-11 19:12] MartinKavik commented on #584
Could you provide a simple example / use-case? I'm not sure I understand your motivation.

However I'm also not sure if it's possible - event handlers have to be callable multiple times - e.g. user clicks multiple times on a button. It means event handlers have to implement `Fn` ([related code](https://github.com/seed-rs/seed/blob/89245248e3d129967725361130437a5e0affef4b/src/virtual_dom/event_hand

[2021-03-11 21:23] glennsl commented on #584
I just discovered that the `component_builder` example does something similar to what I want, but with the requirement that `Msg` implements `Clone`. It uses `Vec<Rc<dyn Fn(MouseEvent) -> Ms>>`. So basically that, but without needing `Clone` on `Msg`.

Another use case is optional event handlers, where the type of the event handler would have to be explicitly annotated because of course it can't b

[2021-03-12 11:35] glennsl commented on #584
Ok, so it seems like `Clone` isn't actually needed on `Msg` in the `component_builder` example. Which means I can already use a `Fn` closure, as long as I wrap it in `Rc`.

I still haven't figured out how to do this. But if this is possible in general then I can have a builder function that takes a `FnOnce + Clone`, store it as a `Rc<Fn>` in the component and then create a `FnOnce` that calls that

[2021-03-12 16:26] flosse commented on #584
@glennsl Why do you need to embed fat data in `Msg`? I'd always keep the messages lightweight and store the data in the model.
Let's say you have s.th. like this:
[code]
You could transform it to
[code]

[2021-03-12 18:08] glennsl commented on #584
@flosse Well, to get that big chunk of data from the server in the first place you'll have to pass it through a `Msg`.

I think that's pretty much it though. For any other message I do as you suggest.

It would be cool if `Clone`/`Copy` could somehow be implemented for individual variants that don't have payloads or whose payloads themselves implement `Clone`/`Copy`...

[2021-03-13 00:26] MartinKavik commented on #584
I agree with @flosse - `Msg` should be as small as possible. `Msg` with data from a fetch response may be more complex, but in most cases you just want to store it in your `Model` so there are no problems with event handlers or other APIs.

Derive / manually implement `Clone` for `Msg` is an anti-pattern. That's why `ev` has replaced `simple_ev` - `simple_ev` has been deprecated because it require

[2021-03-13 08:59] glennsl commented on #584
Good to hear! I've opened #586 to remove it from the `component_builder` example.

It really is that simple, huh. And I see the `component_builder` example does exactly this as well, but I guess I dismissed it or got confused by the `Clone` on `Msg` here too.

`component_builder` is pretty much exactly what I want, so I'd say this is resolved now. I was just a bit confused as I didn't understand t

[2021-03-13 08:59] #584 closed

[2021-03-13 09:03] gilescope opened #587 "quickstart fail"
I did `cargo generate --git https://github.com/seed-rs/seed-quickstart.git --name my-project`

and then ran it but got:
Loading module from “http://localhost:8000/pkg/package.js” was blocked because of a disallowed MIME type (“text/html”).
This was on firefox on mac, but safari was no better. Was hoping to see a counter.

[2021-03-13 11:37] MartinKavik commented on #587
I can't reproduce it. Make sure the file `my-project/pkg/package.js` exists. `package,js` is generated only on successful build. When it's missing, dev server returns HTML hence the error.

And I would recommend to try [Trunk](https://trunkrs.dev/) and probably [this starting project](https://github.com/thedodd/trunk/tree/master/examples/seed) instead of the basic quickstart.

Hope it helps!

[2021-03-22 11:43] azzamsa commented on #587
@gilescope any updates?

[2021-03-25 02:07] fxdave opened #589 "[SVG] raw defs is not working but defs! works"
## Works:

[code]

## Doesn't work:
Rendered with white background instead of the pattern
[code]

[2021-03-25 11:40] MartinKavik commented on #589
@fxdave Could you try it with https://github.com/seed-rs/seed/pull/590?

[2021-03-25 11:58] fxdave commented on #589
@MartinKavik
This worked, thanks

[2021-03-25 12:10] #589 closed

[2021-03-29 14:49] fxdave opened #592 "Support for raw attributes"
Can you please add support for raw attributes?

example:
[code]

[2021-03-29 15:04] fxdave commented on #592
There is already this:
[code]

[2021-03-29 15:04] #592 closed

[2021-03-29 15:12] MartinKavik commented on #592
`At::from("data-id") => 12` should work, too

[2021-03-30 20:27] fxdave opened #593 "Return multiple messages"
Can I do something like this?

[code]
Or

[code]

I know rust's generator API is unstable. But is there a way to achieve this need?

[2021-03-31 18:14] MartinKavik commented on #593
It sounds a bit cumbersome - can you use something like https://developer.mozilla.org/en-US/docs/Web/API/Document/drop_event instead?

According to https://developer.mozilla.org/en-US/docs/Web/API/Document/elementFromPoint, you can toggle `pointer-events` instead of visibility (it sounds less invasive imho)

[2021-03-31 23:03] fxdave commented on #593
I want this for SVG, which does not support drag* events.

Thanks for the advice.

[2021-03-31 23:13] fxdave commented on #593
Closing this because this is more likely the SVG's fault.

[2021-03-31 23:13] #593 closed

[2021-04-01 07:07] glennsl commented on #593
I'm still not sure how parallel message dispatching would help with here, as it still sounds like a sequence of messages should do the trick. But perhaps using [`Orders::after_next_render`](https://docs.rs/seed/0.8.0/seed/app/orders/trait.Orders.html#tymethod.after_next_render) would be helpful.

[2021-04-01 10:08] fxdave commented on #593
I don't want to pollute update function with web_sys and view does not have `Orders`. But yes, `after_next_render` would solve the issue.

[2021-04-01 12:22] glennsl commented on #593
Yeah, I can see that. Another option for dealing with messy DOM interaction is to create a web component. That carries a big overhead in itself, of course, but at least it's encapsulated and can expose a nice, clean and declarative API.

[2021-04-02 05:50] MarioIshac opened #594 "Encoding Relationship between Enum Variants of Model and Message in Type System"
I came across this project yesterday in exploring Rust on the frontend, and have been working through the tutorials and example repositories. Been a great experience so far!

I'm taking a look at `seed-app-time-tracker` in this section of code: https://github.com/MartinKavik/seed-app-time-tracker/blob/master/src/lib.rs#L224-L245.

From my understanding, `Msg::ClientsAndProjectsMsg` is tied to `Pag

[2021-04-02 06:29] glennsl commented on #594
I think your understanding is correct.

But consider the scenario where you are on one page, start fetching something from the server, and then in the meantime switch to another page. How would you handle the server response when you're no longer on the page that requested it?

In order to ensure, at compile-time, that you cannot receive messages that are incompatible with the current state of the

[2021-04-02 10:25] mankinskin commented on #594
The way I structure messages that are only meant for a single variant of my model is with nested message enums:
[code]
If you want to share message types across pages you can just wrap them in the page's message type
[code]
then you can pass messages down your model in a pretty standard way:
[code]
You could probably make a macro for this pattern eventually..

[2021-04-02 13:08] MartinKavik commented on #594
I've published an [article](https://dev.to/martinkavik/moonzoon-dev-news-2-live-demo-zoon-examples-architectures-2oem) yesterday that compares architectures and talks also about that "relationship encoding" a bit.  The missing encoding is basically by design and it's a trade-off  for flexibility and simplicity. From my experience, I sometimes pass a wrong `Msg` type to `update` function however th

[2021-04-02 21:57] MarioIshac commented on #594
Alright thank you all for the answers, understand the tradeoff now. Will be going with matching on the tuple + the enum structures  mankinskin showed.

[2021-04-02 21:57] #594 closed

[2021-04-03 15:25] etoal83 commented on #587
Actually I experience the same error when I follow the [README instruction](https://github.com/seed-rs/seed-quickstart#3-prepare-your-project-for-work) then resolved it by running `cargo make build` as @MartinKavik referred to. If I understand correctly, the section "3. Prepare your project for work" doesn't have the step of building the `/pkg` stuffs.

[2021-04-03 16:11] MartinKavik commented on #587
Build step should be a part of `3. Open a second terminal tab and run: cargo make watch`. Does `cargo make watch` builds `/pkg`? If so, perhaps we should switch steps 2. and 3. (?)

[2021-04-04 07:29] etoal83 commented on #587
@MartinKavik
Sorry, you're right. I confirmed that the command `cargo make watch` includes the build steps and generates `/pkg`s. When I produced the error, I rushed to see the page localhost:8000 as the message from `cargo make serve` tempted😅

So it might be nitpicky though, swapping the step 2. and 3. could be more helpful.

[2021-04-04 11:25] MartinKavik commented on #587
But then the 4. step wouldn't make sense because you see errors only on the terminal when you run `watch`...

Feel free to update the steps as you think make the most sense and create a PR with them 🙂

[2021-04-07 09:26] svenstaro commented on #436
This can be closed as the release has long been made. :)

[2021-04-07 10:22] #436 closed

[2021-04-10 12:41] dustypomerleau opened #597 "Rebuild the docs to fix word-wrapping on mobile"
Many thanks to the Seed team for all your work.

This issue was described in https://github.com/rust-lang/docs.rs/issues/1200 and fixed by https://github.com/rust-lang/rust/pull/79936, but docs.rs did not automatically rebuild docs for affected crates after the fix.

I believe a rebuild should be all that is necessary to fix this (either as a patch or with next release).

![2021-04-10 22 20 22](ht

[2021-04-29 18:46] SeraphyBR commented on #587
I had this same error message, but when opening in qutebrowser, I tested it on google chrome and firefox and it worked. But sometimes it happened that he did not update the page. From what I investigated it seems to be a problem with Miniserver. When I used the vscode Live Server, it worked normally in the qutebrowser

[2021-05-24 09:13] flawphobic commented on #543
This does work though as expected, every macro would have the same documentation.

But maybe that's not be too bad considering that they mostly function the same.

What might also be useful is to include a link to the [element macros](https://seed-rs.org/0.8.0/element_macros) section of the official guide. Since some people probably don't want to go to another site even if it's the official one, w

[2021-05-25 05:06] flawphobic commented on #587
Isn't it the case that "errors" mentioned in step 4 can be produced by either step 2 or step 3 or both? If step 4 clarifies the source of errors and where they are displayed, maybe the instructions will still make sense after swapping step 2 and step 3.

[2021-06-12 19:09] mcscholtz opened #604 "Question about nested components"
Thanks for the wonderful framework I have really been enjoying using it.

I have run into a bit of a snag that I was hoping someone can point me in the right direction.

I have been trying to use nested components but having some trouble. I can change the state (Model) of the sub-components but the DOM does not seem to update even though the model of these sub-components have changed.

Using debug

[2021-06-12 20:28] MartinKavik commented on #604
Please include that examples, I'm not sure we can move forward without it.

[2021-06-12 23:02] mcscholtz commented on #604
I made a repo here: [https://github.com/mcscholtz/example](https://github.com/mcscholtz/example)

Basically I am trying to do input validation and if the name entered does not match "bob" there should be a red cross on the right (this part works), and a green check mark if it does (does not work). I can see the events trigger when the condition is correct but the page does not seem to update to re

[2021-06-13 10:10] MartinKavik commented on #604
Please provide a _minimal_ example. Ideally we should be able to replace the `lib.rs` in the `counter` example with your example code and run in without problems. If you can't make it simpler, then please write super simple instructions how we can run the example and it has to be cross-platform and ideally without other non-Rust dependencies like Postgre, Python, etc.

[2021-06-13 11:09] glennsl commented on #604
Just looking at the code, the implementation of the `input` component looks a bit sketchy.

First of all because it's violating the basic premise of Elm-like architecture/declarative UIs, that the view should be a pure function of the model. Instead it keeps the state in the DOM, which means it'll be lost if the `input` element is removed and re-inserted, which it could be for a number of reasons.

[2021-06-16 20:30] mcscholtz commented on #604
Sorry about this, I think the problem is likely how I designed the code as pointed out by @glennsl

Thanks for pointing out some of the flaws, it helps a lot. I will take a look at this and redesign it in a better way. If I still encounter the problem I will create another issue with a minimal example as described by @MartinKavik

[2021-06-16 20:30] #604 closed

[2021-06-20 22:47] botika commented on #516
![image](https://user-images.githubusercontent.com/2625545/122690407-bbbab680-d229-11eb-8096-b0b09f0e57cb.png)

DeLorean is the same as the Seed runtime. But the implementation in wasm-bindgen far exceeds that of Seed, you can still get an idea. I hope help you.

[2021-06-24 00:40] allan2 opened #609 "Logo in website header too large"
The logo in the header is really large. It's noticeable on desktop but particularly stands out on mobile.

It also covers the second logo on the narrow viewport (see screenshot below). My suggestion is to make the logo of a similar size as the the button links.

![seed-website](https://user-images.githubusercontent.com/6740989/123184919-58ba6100-d46f-11eb-92cd-569bdbc324b4.png)

[2021-06-24 00:52] allan2 opened #610 "Website dark mode showing white bg on scroll"
During scrolling in dark mode, the white background is visible at the bottom. Once the scroll stops, it disappears. It's like a flicker during scroll only.

Its only at the top part of the page. Scrolling down more doesn't show any white.

On both Google Chrome and Firefox on Android.

Screenshot captured mid-scroll with finger on the screen
![screenshot](https://user-images.githubusercontent.com/

[2021-06-24 01:40] allan2 opened #611 "Update docs to use trunk"
Suggestion: update docs to use `trunk` everywhere.

This means updating things like:
[code]

to

[code]

[2021-06-24 01:59] allan2 commented on #609
Closing in favour of https://github.com/seed-rs/seed-rs.org/issues/110

[2021-06-24 01:59] #609 closed

[2021-06-24 02:01] allan2 commented on #610
Closing in favour of https://github.com/seed-rs/seed-rs.org/issues/111

[2021-06-24 02:01] #610 closed

[2021-06-24 17:06] allan2 opened #612 "Intersection observer example"
I'd like to add an example for intersection observer. However, I haven't done it properly.

My repo is https://github.com/allan2/seed-intersection-observer

The observer is working but passing the value through `msg_sender` isn't working.
Any suggestions would be helpful.

[2021-06-24 19:54] MartinKavik commented on #612
https://github.com/allan2/seed-intersection-observer/pull/1

[2021-06-24 23:21] allan2 commented on #612
PR #613 opened

[2021-06-27 07:15] akhilman opened #614 "seed.discourse.group is down"
The forum site listed in https://seed-rs.org is down.

[2021-06-29 19:28] #612 closed

[2021-07-18 01:23] iMplode-nZ commented on #292
Any updates on this?

[2021-07-18 09:37] MartinKavik commented on #292
See https://github.com/DeMille/wasm-glue/issues/3 and https://github.com/rust-lang/rust/issues/31343#issuecomment-812636785.

So I've implemented custom [println & eprintln](https://github.com/MoonZoon/MoonZoon/blob/f423a2de1d3aa56426d0a0d8339b5a4a8dc1018c/crates/zoon/src/console.rs) in MoonZoon. This way you get at least a compilation error when those custom methods are in scope imported by `zoon

[2021-07-19 06:46] aklajnert opened #616 "Return error details in `FetchError`"
I was using the `fetch()` API as shown in the [example](https://github.com/seed-rs/seed/blob/480141ce9e520c07e60ddae58244edb40c9f55e9/examples/server_integration/client/src/example_a.rs), using `check_status()` helper function. Unfortunately, this function has a pretty significant flaw - it hides the error details returned from the backend.

Let's say, backend returns error `500` with following re

[2021-07-19 13:13] MartinKavik commented on #616
Feel free to create a PR with basic implementation of suggested new API.

[2021-07-22 16:04] flosse commented on #385
This one looks promising ... probably we can use it behind a feature flag?

[2021-08-01 02:53] #574 closed

[2021-08-02 20:09] MartinKavik commented on #385
MoonZoon uses `serde-lite`  (without problems so far) instead of `miniserde` because `miniserde` is too limited - e.g. it supports only structs according to its docs. However I can imagine both can be hidden behind an associated feature flag. Feel free to create a PR if you manage to make at least one of them work and it really helps your wasm file size.

[2021-08-30 12:20] #616 closed

[2021-09-03 13:31] arn-the-long-beard opened #619 "Serialize or/and Deserialize failing"
Hello guys :wink: ,

Well my main project is now failling its Apis calls that contains objects to post.

### Before Update

![image](https://user-images.githubusercontent.com/30114057/132011910-44841613-0480-4c3e-9f3b-88dfa514b738.png)

1 - From the web browser

![image](https://user-images.githubusercontent.com/30114057/132011967-9566d796-c55a-4b26-836b-1d5008ed2a8d.png)

2 - From the web browser

[2021-09-03 13:34] arn-the-long-beard commented on #619
I guess on part of the problem is that I do not get my error from the server as before.
The second part and most important, my data models are not serialized as json anymore.

[2021-09-03 13:36] glennsl commented on #619
Might be because of https://github.com/seed-rs/seed/pull/618#discussion_r697715878

[2021-09-03 13:46] arn-the-long-beard commented on #619
Thank you for the link mate. Yes it seems related.

And yes @RReverser is right there.

[2021-09-03 19:52] fosskers commented on #619
I'd call this a bug and not necessarily a breaking change. Let me see what I can do to fix it.

[2021-09-14 18:35] pyros2097 commented on #232
Sauron has implemented prerendering. Maybe you can take a look at that in this example, https://github.com/ivanceras/sauron/tree/master/examples/progressive-rendering

[2021-09-18 00:36] benwis commented on #519
I'm wondering if Seed could integrate with async-graphql. I know they have extensions for actix, tide rocket, and probably more, That way we can leverage the tons of good work they've done.

[2021-09-18 00:41] benwis commented on #519
Just now realizing you're building a graphql client library and not a server one. I'd vote for subscription support then :)

[2021-09-23 00:50] linuxuser586 commented on #619
What is the solution to this? I tried running the graphql example and it is fails because it serializes to object.

[2021-09-23 01:04] fosskers commented on #619
Sigh, the solution is that I try harder to fix my fix. Sorry about the trouble.

[2021-09-25 20:23] thestarmaker opened #625 "Hash path is not updated on IOS"
I've encountered some strange behaviour, wondering if this is a bug or something. The same happens in my app asn in ToDo example (https://seed-app-todomvc.netlify.app/).

Desktop browser (Firefox):
* open https://seed-app-todomvc.netlify.app/
* add todo
* click through filters
Expect: hash path in browser address bar changes accordingly (/#completed, /#active, etc).
Actual: as expected.

Mobile br

[2021-09-25 20:45] thestarmaker commented on #625
Update:

I have misunderstood symptoms that I saw, here is the true story

The behaviour is actually consistent between OSes:

if I navigate straight to https://seed-app-todomvc.netlify.app/#completed and then click "Active", then the url changes to #active. If I click "All", then url changes to the path that was used to load the app - "#completed" though I would expect it to go back to "/" in thi

[2021-09-25 20:45] #625 closed

[2021-09-27 16:52] fosskers commented on #625
No problem! Thanks for taking to the time report.

[2021-10-05 10:07] arn-the-long-beard commented on #619
Well I need we reopen the issue :D I am documenting why I am using patch  in my cargo to older version of Seed.

[2021-11-11 21:42] torhovland opened #636 "Panicked at 'already borrowed: BorrowMutError'"
I'm getting some runtime errors that I'm unable to work around, when I'm interacting with a map through `leaflet-rs`.

I have a reproducible sample on https://github.com/torhovland/seed-runtime-errors.

These are the errors I'm getting:

[code]

[2021-11-11 22:46] glennsl commented on #636
I've had success using leaflet through web components. It provides a much nicer declarative API for use with seed, although writing the web components in JavaScript can get a little messy.

It's not in a state where I feel like I can publish it yet, but here's the raw code for what I have so far, if you feel adventurous: https://gist.github.com/glennsl/93c272ba42f954fcf5eec99b1311ac05

[2021-11-11 22:53] glennsl commented on #636
Also, your repro link 404s.

[2021-11-12 06:41] torhovland commented on #636
Thanks for the hint. The repo was initially private. Fixed now.

Also, thanks for the code. I will try it and see if doing it that way gets rid of the errors.

[2021-11-12 19:31] torhovland commented on #636
@glennsl Unfortunately, I can't get your code to compile. It would be cool if you could submit a working app.

[2021-11-14 16:51] greenfierydragon opened #637 "Implement Display and Error on Error types"
Certain error types, such as `WebStorageError` don't have support for `std::error::Error` or `std::fmt::Display` which means they cannot be used with certain crates such as `thiserror`.

[2021-11-22 11:47] torhovland opened #638 "No way to POST Content-Type=application/x-www-form-urlencoded"
I need to POST form data to an endpoint that requires `Content-Type=application/x-www-form-urlencoded`. Specifically, this is an OAuth2 endpoint that doesn't seem to support JSON form data.

[2021-11-22 11:52] glennsl commented on #638
There are `FormData` bindings here: https://github.com/seed-rs/seed/blob/master/src/browser/fetch/form_data.rs

They just haven't been released yet.

(This also reminds me that I was supposed to make you an example for the leaflet bindings. Hopefully this weekend!)

[2021-11-22 12:55] torhovland commented on #638
Actually, that didn't quite work either. It insists on `multipart/form-data`, while I need `application/x-www-form-urlencoded`.

However, I found I could just do this:

[code]

[2021-11-22 13:42] glennsl commented on #638
Oh right, you could probably just use [`UrlSearchParams`](https://docs.rs/web-sys/0.3.55/web_sys/struct.UrlSearchParams.html) too then.

[2021-11-25 16:56] flosse opened #639 "How can we improve `map_callback_return_to_option_ms`?"
It happens to me again and again that I stumble over the following runtime error:

`Cmds can return only Msg, Option<Msg> or ()!`

The cause is in the [`map_callback_return_to_option_ms!`](https://github.com/seed-rs/seed/blob/340d501e51a3988829303d7f6e35cf486768bdcf/src/lib.rs#L66-L90) macro.

It would be great if we were able to catch this errors at compile time.
I know very little about macros,

[2021-11-25 23:24] MartinKavik commented on #639
See the [line](https://github.com/seed-rs/seed/blob/340d501e51a3988829303d7f6e35cf486768bdcf/src/lib.rs#L62) pointing to https://github.com/seed-rs/seed/issues/391. There are two links:

1. https://gist.github.com/MartinKavik/36a96f28b9bad76d6cb7141946f5f716
2. https://gist.github.com/MartinKavik/918ff345f1655eb32eb47090ecc73cd8

The first link points to the code used in the `map_callback_return_t

[2021-11-28 22:44] glennsl commented on #636
@torhovland Here you go: https://github.com/glennsl/leafy-example

Modified the bindings slightly to remove the use of some internal types and not very important plugins/extensions for leaflet.

[2021-12-08 22:12] fosskers commented on #639
I'll get the `Edition 2021` PR merged, then let's go ahead with the proper fix for this.

[2021-12-31 00:45] wkordalski opened #651 "Prelude required to use Seed macros"
When using Seed's macros (like `div` or `style`), `seed::prelude::*` must be imported.
Otherwise compiler errors are generated (e.g. ```failed to resolve: use of undeclared type `IndexMap` not found in this scope```).

Why can't we specify full paths in macros so that `use seed::prelude::*` is not necessary?

[2022-01-17 10:54] hdatorforening opened #652 "Feature suggestion: impl From<Node<Y>> for Node<X> where Y: Into<X>"
Account fumble, please delete.

[2022-01-17 10:55] #652 closed

[2022-01-17 10:57] sidju opened #653 "Feature request: impl From<Node<Y>> for Node<X> where Y: Into<X>"
I am home rolling a frontend and deeply enjoying the flexibility offered by seed. I have essentially built a half-isolated component structure with a global Msg (views branch down with parts of the model in a tree structure). Overall this works absurdly well with the APIs, but I'd like to be able to return Node<LocalMsg> from my component view functions instead of manually wrapping my callbacks in

[2022-01-21 23:06] sidju commented on #653
Seemingly impossible right now, due to this not being supported by rust:
https://github.com/rust-lang/rfcs/issues/1834

[2022-01-22 10:22] sidju commented on #653
Current workaround is to use `.map_msg` on the Node to covert it.

The mapped function can further contain the Y to X implementation, saving a trait implementation if only called in one location.

Another path to take would be to require that View returns IntoNode<Msg> instead of Node<Msg>. This would solve the current implementation collision with Into and enable the frameword to automatically co

[2022-01-22 17:54] MartinKavik commented on #653
I've chosen `.map_msg` to make it consistent with other entities (e.g. `Cmd`) and with the primary inspiration - https://package.elm-lang.org/packages/elm/html/1.0.0/Html#map.
Also there is a monster in the code base - https://github.com/seed-rs/seed/blob/cce9685c05b07043ae42d39bcb9023f74a954ae0/src/lib.rs#L61-L90 - abusing `Any` to simulate something like _specialiazation_. So I can imagine the S

[2022-02-06 14:04] johnsonw opened #654 "Returning closures from the start function fails when using #[wasm_bindgen(start)]"
The `update_from_js` example shows how to create closures in rust and make them available in javascript:
[code]
This works fine in the example, but our start function will generally use `#[wasm_bindgen(start)]` to make it immediately available to the application. The wasm-bindgen docs state that when using start, we can only return unit or a result: https://rustwasm.github.io/wasm-bindgen/referenc

[2022-02-10 14:16] flosse opened #655 "Release v0.9.0"
# Release Checklist

## Before the release

- [x]  1. Create a new issue in the Seed repo with the name and copy-paste this checklist into it (also add blockers and additional tasks, if exist).
  - [x] Blockers:
    - [x] https://github.com/seed-rs/seed/issues/619
    - [x] https://github.com/seed-rs/seed/issues/660
- [x] 2. Update all official examples.
- [x] 3. Review the commit and PR history s

[2022-02-10 14:43] glennsl commented on #655
As far as I know, `master` is still broken for anyone using `fetch`: https://github.com/seed-rs/seed/issues/619

[2022-02-10 14:45] flosse commented on #655
thanks for reminding!

[2022-02-10 15:13] flosse commented on #619
If someone can write a test that fails and reflect this bug I can try fix it :)

[2022-02-10 19:25] fosskers commented on #655
It's not entirely broken, we're using it in prod, but I promise to fix it as soon as I can.

[2022-02-15 04:20] fosskers commented on #619
It's an edge-case somewhere involving `String` serialization.

[2022-03-09 16:35] wkordalski opened #656 "`orders.perform_cmd(...)` and `orders.msg_sender()(...)` vs rendering"
Intuitively, returning `()` or `None` from future passed to `orders.perform_cmd(...)` means that no message should be sent to Seed mailbox.
Similarly, `orders.msg_sender()(None)` should not send any message.
And in these cases rerender should not be triggered.

But it is done differently. This is stated in documentation of `seed::app::App::update_with_option`.
However from library user perspective

[2022-03-10 13:59] wkordalski commented on #556
Could you give a simple example that would result in UI freeze?
I currently work on a piece of software (it uses Seed) that send messages from futures and can await for update completion (via custom futures).
Single-threaded execution makes the software easier do design, its execution more deterministic (there's no threads that interleave their execution differently each time), and you don't have

[2022-03-15 22:44] wkordalski commented on #656
I had a future `fut` of type `impl Future<Output = ()>`. After running future `fut` (performed by `orders.perform_cmd(fut)`), rendering is triggered, although no message was sent and there is no mention about such behavior in the docs.

[2022-03-26 14:23] Najidnadri opened #658 "CssClasses items and Error while recompiling"
Hye I am completely new to seed,

1. Just wondering where could I find the definitions for the items in CssClasses? At least some of the general explanations of the struct.

2. got a re-compiling error in the development mode after changing the source code. It says `./pkg/index.d.ts` is not a module. Here is the `index.ts` file and my `.pkg` tree.

_index.ts_
[code]
_.pkg folder_
[code]

I'm prett

[2022-04-03 14:48] flosse commented on #655
FYI:
It took me some time to reproduce the bug, but I think I have found it now and probably have a solution.
I'll create a PR for this soon.

[2022-04-03 16:42] fosskers commented on #655
@flosse thank you, I will review it carefully when you do.

[2022-04-03 18:16] flosse commented on #619
@arn-the-long-beard could you check if #659 resolves your problem?

[2022-04-04 21:42] hiteshjoshi opened #661 "error[E0425]: cannot find function `wheel_ev` in this scope"
Hi, new to rust.

I get this error on your example code "canvas"

error[E0425]: cannot find function `wheel_ev` in this scope

I saw the changelog it talks about details on `wheel_ev` but I cannot find it.

[2022-04-06 21:22] flosse commented on #661
`wheel_ev` is only available on the current master branch, not in seed `v0.8.0` so you should add this to your `Cargo.toml`:

[code]

[2022-04-06 21:26] flosse opened #662 "1. Create a new issue in the Seed repo with the name and copy-paste this checklist into it (also add blockers and additional tasks, if exist)."

[2022-04-06 21:26] #662 closed

[2022-04-06 21:35] flosse commented on #619
I assume that the problem should be solved now.

[2022-04-06 21:35] #619 closed

[2022-04-06 22:56] #281 closed

[2022-04-07 21:43] flosse commented on #658
@Najidnadri I'm sorry I don't understand you question. Could you add some more information what you're trying to do? What do you mean by "CssClasses"?

[2022-04-07 23:05] flosse commented on #655
@David-OConnor I tried to prepare as much as possible for a new release. Would you mind to make the final steps soon?

There are only two questions to the other maintainers (especially @fosskers) regarding the json de-/serializing features `serde-json` and `serde-wasm-bindgen`:

1. Which one should be enabled by default (if any)?
2. Which one should be used if both are enabled?

[2022-04-08 00:10] David-OConnor commented on #655
Released on crates.io

[2022-04-08 00:23] flosse commented on #655
oh wow... that was fast :smile:  Thanks a lot! :pray:

[2022-04-08 00:59] flosse commented on #655
Oh no.. the last commit introduced a bug!
I forgot to rename the features `swb` to `serde-wasm-bindgen` :disappointed:
But luckily it's not breaking, because `serde_json` is used by default :smile:

[2022-04-08 01:02] flosse commented on #655
... I'll fix that tomorrow and then we can publish a `v0.9.1` version

[2022-04-08 01:03] David-OConnor commented on #655
deal!!

[2022-04-08 13:47] flosse commented on #655
ok, I'm done :)

[2022-04-08 13:50] David-OConnor commented on #655
Released

[2022-04-08 13:51] flosse opened #672 "Maintenance & Future of Seed"
It was a pleasure for me to be working on the release of `v0.9.0` :smile:
And I would have great desire to develop Seed further, however, it is unfortunately as so often with open source projects, that there is no funding for it and therefore for me is not possible.
As far a I know the same is true for @David-OConnor, @MartinKavik, @TatriX, @arn-the-long-beard, @glennsl, @fosskers and all other co

[2022-04-08 13:54] flosse commented on #655
omg! :see_no_evil: I should drink an other coffee :rofl:

[2022-04-08 13:55] flosse commented on #655
... I forgot to push the merge to the master

[2022-04-08 16:42] MartinKavik commented on #672
There is [gloo](https://github.com/rustwasm/gloo). Both `Seed` and `Yew` use it under the hood. But it's pretty difficult to have shared libraries because Rust FE frameworks have pretty different goals/apis - for example `gloo` isn't integrated in `MoonZoon` and only basic crates like `web-sys` and `js-sys` are shared.

I've written mails to relatively many persons/companies that starred the Seed

[2022-04-08 17:53] David-OConnor commented on #672
For some context, I now do my web pages and apps in HTML, CSS, with targetted JS as required for interactions. Much faster page loading, UI interaction etc than any framework, and easier to manage without config, dependencies etc. This used to not be viable, but HTML, CSS, and JS have come a long way.

[2022-04-08 19:32] fosskers commented on #672
My own personal website is also purely HTML/CSS for performance/minimalism reasons, but I recognize the value of TEA apps. I'm general in favour of more shared underpinnings (i.e. crates) or a "one true framework to rule them all", but of course that might fragment our efforts as joked about in that well-known XKCD comic.

In terms of my own time commitments to Seed, I can mostly "keep an eye" on

[2022-04-08 19:39] flosse commented on #672
My website is also pure HTML/CSS :stuck_out_tongue_closed_eyes: but a *classical* website has completely different requirements than a full features **application** that runs in the browser, so we should not compare apples with pears!

[2022-04-08 21:04] #661 closed

[2022-04-08 23:55] fosskers commented on #672
Precisely. TEA and Seed have proven quite useful for Browser Extensions.

[2022-04-14 11:02] uklotzde opened #673 "v0.9.1: browser::json::Error is inaccessible"
As a consequence `FetchError::JsonError(_)` cannot be handled appropriately.

[2022-04-14 13:13] #673 closed

[2022-04-21 11:13] kujeger opened #675 "Deserializing large numbers fail"
Hi,

I discovered that when I was deserializing larger numbers in json payloads retrieved using `fetch`, there were off. If they are too large, deserialization completely fails with something like `JsonError(Serde(JsValue("invalid value: integer '9223372036854776000', expected i64 at line 1 column 70")))`.

This is new with 0.9; it does not happen in 0.8.

Example based on the simple `fetch` examp

[2022-04-21 16:46] fosskers commented on #675
Which JSON backend are you telling Seed to use - `serde_json` or `serde-wasm-bindgen`?

[2022-04-21 17:51] kujeger commented on #675
Whichever is the default; looks like `serde-wasm-bindgen`

[2022-04-21 18:28] fosskers commented on #675
Try `serde_json` and see what happens. It'll probably fix it in the meantime, although `swb` is supposed to have BigInt support :thinking:

[2022-04-22 08:27] kujeger commented on #675
Looks like I was wrong; according to https://docs.rs/crate/seed/latest/features `serde-json` is the default.

Manually specifying `serde-json` in features gives the same result. Using `serde-wasm-bindgen` instead completely fails to deserialize the same numbers with this error:
[code]

[2022-04-22 16:34] fosskers commented on #675
From Rust itself:
[code]
but it _does_ fit into `u64`. Consider changing the number type that you're using, if you know that value can never be negative.

[2022-04-22 16:34] flosse commented on #675
@kujeger I downloaded your example code and it just works.

[2022-04-22 22:48] kujeger commented on #675
To clarify, that was _not_ the actual number I was attempting to deserialize when that error message was generated. The fetched payload was `9223372036854775807`, the precise i64 max. It was just an example of "too large" a number resulting a panic, presumably because the buggy behaviour rounded it upwards outside of the i64 limit.

[2022-04-22 22:49] kujeger commented on #675
Could it be a platform issue? I've reproduced it across multiple machines and browsers, but they were all on linux. I don't have any windows or mac machines available for testing.

[2022-04-22 23:08] kujeger commented on #675
I can reproduce the rounding behaviour with this:
[code]
`1234567890123456800`

So looks like `fetch[..].json()` is putting the numbers into f64 before casting as i64.

[2022-04-23 03:45] fosskers commented on #675
JS numbers are 53-bit, by the way.

[2022-05-19 20:11] kurtbuilds commented on #292
I'd love to see this too. FWIW, it's possible to do this redirection today in nightly Rust:

[code]

I'm experimenting with a loop that would offload the de-buffering to a webworker so it happens continuously in the background.

That said, it feels like the proper solution is a `wasm32-unknown-browser` target that would (IMO correctly) direct `println!` to `console.log`

[2022-05-19 20:15] fosskers commented on #292
Consider also supplying an implementation of the `log` crate traits, like this:
[code]

[2022-05-27 11:41] wkordalski opened #676 "Websocket example does not work"
After update to Seed 0.9.*, `websocket` example does not work.
It seems that `WebSocketMessage::json()` does not work proparely.

[code]

Deserializing manually with `serde_json::from_str(...)` gives correct results.

[2022-06-03 12:24] BatiGencho opened #677 "how to integrate with another wasm ?"
I am using seed-rs for a simple SPA, but now need to interact with another wasm file which could be either a simple lib with a function or a more complicated e.g. game which has been exported to a wasm file and needs to be mounted to a canvas element. Is this possible at all using seed-rs ?

[2022-06-05 19:06] wuerges opened #678 "Websocket API changed from 0.8 to 0.9"
Hello, I have a small project that uses Seed for the front-end:
https://github.com/wuerges/maratona-animeitor-rust/

I'm updating the project's dependencies and the project is breaking when I change the seed version from 0.8 to 0.9.

I think I must be doing something silly. Could someone shed me some light?

The way things were set up in version 0.8 was like this:
My service would produce a sequen

[2022-06-05 19:31] wuerges commented on #678
This the code with more context:

[code]

[2022-06-05 19:47] wuerges commented on #678
These are the changes that caused the error:
https://github.com/wuerges/maratona-animeitor-rust/pull/23/files

[2022-06-05 20:09] flosse commented on #678
@wuerges thanks for reporting the issue.
I'll have a look at it next week.

[2022-06-05 20:09] flosse commented on #676
@wkordalski hanks for reporting the issue.
I'll have a look at it next week.

[2022-06-06 17:26] flosse commented on #678
I just tried the websocket example in the seed repo and I can confirm that this is bug :disappointed:

[2022-06-07 17:46] evbo commented on #516
Im confused because the "Benchmarketing" in the readme to this repo shows seed outperforming every other ui library.

Can someone please comment on what the "Benchmarketing" chart means relative to these benchmarks where Seed is not faster than most JS libraries?

[2022-06-07 21:58] wkordalski opened #685 "DOM node is not attached to ElRef under some conditions"
### Versions

I can reproduce this bug in Seed 0.9
I cannot reproduce this bug in Seed 0.8

### In short:
1. In `view` we return something like `div![el_ref(&some_elref), div!["Some text"]]`
2. After running `view`, inside `update` `some_elref.get().is_none()` is true.

This means that DOM node is not attached to `ElRef` under some conditions.

Example: https://github.com/wkordalski/seed-elref-bug

[2022-06-08 07:31] flosse commented on #685
thanks for reporting!

[2022-06-08 07:58] botika commented on #516
https://krausest.github.io/js-framework-benchmark/2022/table_chrome_102.0.5005.61.html

Basically a benchmark is a tool to measure software performance. It's not marketing, it's math.

[2022-06-08 12:22] wkordalski commented on #685
It turns out that switching
from "websocket send-and-receive" as an asynchronous task
to timer-based asynchronous task
also reveals this bug.

As the timer-based example can be easier to analyze, I pushed timer-based version to repository on branch `with-timers`

[2022-06-08 12:56] evbo commented on #516
@flosse thank you, I guess as a newcomer it's a bit confusing. One naturally suspects Rust to be fast, they see a bar chart called "Benchmarketing" in your readme that illustrates Seed to be faster than any other JS library. Meanwhile the largest accepted benchmark test published by krausest says a different story.

So why not have the readme say this statement instead?:

After researching this mo

[2022-06-14 19:45] ndarilek opened #687 "Does not build with wasm-bindgen 0.2.81"
Hello,

I'm using Seed for a wasm example in one of my projects, and noticed that it no longer builds with wasm-bindgen 0.2.81. 0.2.80 works fine. To duplicate, check out master, run `cargo update && cargo build`. The errors:

   Compiling seed v0.9.1 (C:\Users\Nolan\src\seed)
error[E0283]: type annotations needed for `Closure<T>`
   --> src\browser\service\routing.rs:87:19
    |
87  |     let clo

[2022-06-14 19:50] JoelCourtney commented on #687
I was just about to open this myself, thanks! I made an issue in wasm-bindgen [here](https://github.com/rustwasm/wasm-bindgen/issues/2938), because I don't think they realized the changes in 0.2.81 would be breaking.

[2022-06-15 08:32] flosse commented on #687
@ndarilek and @JoelCourtney thanks for reporting, I hope we can fix it soon.

[2022-06-18 09:16] flosse commented on #687
fixed in f284711f3fc4a9deebf70c9f0ce4d8ec1daca36f

[2022-06-18 09:16] #687 closed

[2022-06-18 13:27] flosse commented on #678
@wuerges could you test your code with #693?

[2022-06-18 13:30] flosse commented on #676
should be fixed by #693

[2022-06-18 13:30] #676 closed

[2022-06-18 13:33] #678 closed

[2022-06-18 13:38] #347 closed

[2022-06-18 13:39] flosse commented on #347
I assume this is not a problem any more. Feel free to re-open it if not.

[2022-06-19 09:37] flosse commented on #685
@wkordalski thanks for the example in the repo. I can reproduce the described behavior.
Since i was not much involved in the changes in the v0.9 release, it is hard for me to guess what the cause could be.
@MartinKavik or @fosskers do you have a guess?

[2022-06-19 13:38] evbo commented on #516
@botika thanks. Yes what I posted above was misinformation I now realize.

I got clarification from wasm developers and sure enough, what you wrote is correct, native JS libraries are highly optimized. Rust libraries may take a while to catch up. Being a lower level language doesn't automatically mean you're fastest.

[2022-06-19 14:28] MartinKavik commented on #685
The example is too big for me to quickly orient in it by myself and imagine all possible cases, so only some general ideas:

1. `ElRef` integration to Seed rendering system was a bit painful and error-prone if I remember correctly. I wouldn't be too much surprised if there is a bug / unhandled edge case.
2. I'm not sure if it's possible to accidentally call `some_elref.get()` during the rendering

[2022-06-20 11:27] wkordalski commented on #685
Sorry. I've reduced example size from around 5k LOC to 250 LOC (counting Rust only), and I feel it can be hard to reduce more.

I won't be surprised too.

As I know, whole Seed app and timers run on a single thread and the async tasks are scheduled using non-preemptive scheduler (run `setInterval(handler, 1000); while (true) {}` and see that `handler` is never called). Thus `some_elref.get()` insi

[2022-06-26 16:09] gatlace opened #694 "Closures need types"
[code]

I used seed-quickstart for this, and tried updating to the latest version.

Edit: ._. this may have been a user issue, I wasn't getting any errors in the actual project though... I was doing the todo list tutorial and got the error at project-setup. Delete & re-init seems to have solved it though.

[2022-06-28 00:46] j0lol commented on #694
I have this problem too!

[2022-06-28 02:58] Toasterson commented on #694
Same here. Might be quickstart that is broken but from the error it's the seed crate and not the quickstart. Tried 3 different versions of seed 0.7.0/0.8.0 and 0.9.1.

Error is happening in a fresh clone and CI
https://github.com/OpenFlowLabs/expensebills/runs/7081134689?check_suite_focus=true

[2022-06-28 03:08] Toasterson commented on #672
Being a Maintainer in OpenIndiana I can safely say, unless you invade a org through working there you wont get support there :) We tried for 10 years only thing that really worked is use it as your stack of choice and scratch your itch. We Maintainers of illumos and OpenIndiana made the stack our own and also maintain it in a Passive/Active fashion. It's fun. But not for the code more for the peop

[2022-06-28 07:23] flosse commented on #694
@j0lol and @Toasterson this is a duplicate of #687

Please use

[code]

until `v0.9.2` is released

[2022-06-28 07:25] flosse opened #695 "Release v0.9.2"
# Before the release

- [x] 1. Create a new issue
- [x] 2. Update all official examples.
- [x] 3. Review the commit and PR history since last release. Ensure that all relevant
changes are included in `CHANGELOG.md`, and that breaking changes
are specifically annotated.
- [x] 4. Ensure the `README.md` reflects API changes.
- [x] 5. Update the `CHANGELOG.md` with the new release version.
- [x] 6. En

[2022-06-28 08:48] #655 closed

[2022-06-28 08:49] #694 closed

[2022-06-28 09:22] flosse commented on #695
@David-OConnor  can you either publish the current version or give me access for crates.io?

[2022-06-30 17:28] wkordalski opened #698 "Seed 0.8 accepting the newest wasm-bindgen"
Seed 0.8 extended `Closure` with `new` method via a trait, because this method was missing in `wasm-bindgen < 0.2.81`.
`wasm-bindgen 0.2.81` introduced `Closure::new`.

Thus `Closure::new` changed meaning from `<Closure as ClosureNew>::new()` to `Closure::new` leading to compilation errors.
These errors were fixed in Seed 0.9 (probably f284711f3fc4a9deebf70c9f0ce4d8ec1daca36f). Could you backport

[2022-06-30 18:42] flosse commented on #698
that would be cool! :+1:

me too.
Also #695 is blocked because no one has access to crates.io but @David-OConnor :disappointed:

[2022-06-30 22:49] wkordalski commented on #698
I've backported the fix. You can find it here: https://github.com/wkordalski/seed/tree/0.8
I couldn't create PR, because PRs cannot create branches.

[2022-07-01 10:33] flosse commented on #698
ok, here is the `v0.8.x` branch now: https://github.com/seed-rs/seed/tree/v0.8.x

[2022-07-01 21:41] David-OConnor commented on #695
Done

[2022-07-02 10:38] flosse commented on #695
Thanks!

[2022-07-27 10:45] wkordalski opened #701 "[0.8.x] WebSocket and too early dropped closure"
Commit 08c4ce15255ac8d03df5315796e7b63e624e2987 introduced some bug:

[code]

I suppose, one of the unused fields were used to prevent from dropping the closure mentioned above.
Rust says the field is unused, because its only use is to run `drop()` in the right moment.
We should mark that field with `#[allow(unused)]` (or some more specific lint from the "unused" group) instead of removing it.

[2022-09-07 14:10] ThoFrank commented on #672
Hi there,
Random dude here, who plays with Seed in his free time and just stumbled across this issue.
I watched this talk a while ago and it might also be interesting to you:
https://youtu.be/M2slgOo2jQ4

If I recall correctly, the EU basically has (or at least had) a budget that was used to pay open source developers. You would have to write a proposal about a specific project and be an EU citize

[2022-09-13 12:47] Mec-iS commented on #587
I can confirm that running `cargo make watch` is necessary to make the application to work in the browser.

[2022-11-27 08:12] CrepeGoat opened #703 "support beforeinput events"
*Disclaimer: I'm new to the Seed library; please let me know if this issue is misinformed.*

Seed appears to not support [the `beforeinput` event](https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/beforeinput_event) (i.e., is absent from [event_names.rs](https://github.com/seed-rs/seed/blob/master/src/dom_entity_names/events/event_names.rs)).

This issue is to request support for the `b